{% extends "users/layouts/main.html" %}
{% load static %}
{% block title %}Ăn chay{% endblock %}
{% block menu %}active{% endblock %}
{% block content %}

<section class="p-3 p-lg-0 pt-lg-3 text-center text-sm-start">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <div class="block-heading">
                        <h1 class="text-center text-danger"><strong>THỰC ĐƠN ĂN CHAY HÀNG NGÀY 7 NGÀY TRONG TUẦN ĐẦY ĐỦ CHẤT DINH DƯỠNG, ĂN CHAY MỘT CÁCH KHOA HỌC</strong></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-5">
            <div>
                <h3 class="text-success">1. Nguyên tắc của thực đơn ăn chay</h3>
                <p>Ăn chay hay ăn mặn bạn vẫn phải đảm bảo dinh dưỡng trong khẩu phần thực đơn hàng ngày. Để có bữa chay đủ chất cho cả nhà, chúng ta cần lựa chọn các loại thực phẩm có thể thay thế vì chúng ta đã phải loại bỏ đi một số chất dinh dưỡng cần thiết và có rất nhiều trong cá và thịt mà thay thế chúng bằng nguồn cung từ thực vật. Người ăn chay phải có một thực đơn cho riêng mình để đảm bảo cung cấp dinh dưỡng đầy đủ cho bản thân.</p>
                <center><img class='mt-1 img-fluid' src="http://127.0.0.1:8000/static/images/vegan(8).jpg" alt=""></center>
            </div>
            <div>
                <h3 class="text-success">2. Khẩu phần ăn chay lý tưởng, đúng cách và đầy đủ gồm những gì</h3>
                <p>Ngũ cốc: 50% rau và trái cây: 33% các loại thực phẩm khác: 17% ăn chay giảm cân.</p>
                <p>Có một thực tế là chúng ta hoàn toàn có thể khỏe mạnh mà không cần phải ăn thịt. Nhưng một chế độ ăn kiêng thịt chưa chắc đã mang lại cho chúng ta một thân hình mảnh mai và cơ thể khỏe mạnh. Để có thể thành công trong việc giảm cân, cần phải tuân thủ những điều sau.</p>
                <p>Không ăn vặt. Các thức ăn vặt như bánh ngọt, khoai tây chiên có thể khiến tăng cân vì chúng thường có hàm lượng chất béo cao.</p>
                <p>Không sử dụng quá nhiều chất béo khi chiên, xào đồ ăn.</p>
                <p>
                    Hãy có nhiều món ăn cho mỗi bữa, bởi vì không có loại thực phẩm thực vật nào giàu protein và dưỡng chất như thịt. Nếu không ăn thịt, hãy kết hợp các loại rau củ khác nhau trong một bữa ăn để cơ thể được cung cấp đầy đủ dưỡng chất.
                </p>
                <p>
                    Các chất dinh dưỡng có trong thịt mà ít có trong các loại thực phẩm khác bao gồm: sắt, canxi, vitamin D, vitamin B 12 , kẽm và protein.
                </p>
                <center><img class='mt-1 img-fluid' src="http://127.0.0.1:8000/static/images/vegan(9).jpg" alt=""></center>
                <p>Bổ sung vitamin và các khoáng chất. Một chế độ ăn chay khỏe mạnh phải cung cấp đầy đủ các dưỡng chất mà cơ thể đòi hỏi. Nếu vì một lý do nào đấy mà chế độ ăn không cung cấp đủ chất dinh dưỡng, hoặc cảm thấy mệt mỏi, có thể hỏi ý kiến tư vấn của các chuyên gia dinh dưỡng để dùng thêm một số vitamin hỗn hợp. Nhưng tuyệt đối không dùng chúng thay thế cho các bữa ăn.</p>
            </div>
            <div>
                <h3 class="text-success">3. Thực đơn dinh dưỡng hàng ngày cho người ăn chay bận rộn</h3>
                <p>Dựa trên những chất bắt buộc phải có kể trên, để có một bữa ăn chay đầy đủ dinh dưỡng với xấp xỉ 1.500 kcal/ngày:</p>
                
                <p>
                    <strong>Sáng: </strong>Bạn có rất nhiều lựa chọn cho buổi sáng như mì bò viên chay, bún xào, bánh mì bơ đậu phộng, bánh bao chay, bún riêu chay.v.v.
                </p>
                <p>
                    <strong>Giữa sáng: </strong>Sữa chua, bánh ram ít chay, dâu tây trộn sữa, trái cây, một hủ sữa chua.v.v.
                </p>
                <p>
                    <strong>Tưa: </strong>Buổi trưa là một bữa quan trọng trong ngày nên việc chú trọng và cầu kỳ trong thực đơn là điều cần thiết.
                </p>
                <p>
                    Một bữa trưa đầy đủ dưỡng chất gồm các món như: cơm, đậu hủ xốt cà chua, canh cải xanh và một loại trái cây tráng miệng; cơm, đậu hủ chiên sả, canh khổ qua và đồ xào; cơm, canh bí đỏ, đậu hủ kho và su hào xào; cơm, cải xào, canh chua rau muống, mì căn chiên; .v.v.
                </p>
                <center><img class='mt-1 img-fluid' src="http://127.0.0.1:8000/static/images/vegan(10).jpg" alt=""></center>
                <p>
                    <strong>Giữa trưa: </strong>Bạn có thể chọn trái cây, khoai lang, sữa chua hoặc một ly sữa đậu nành..v.v.
                </p>
                <p>
                    <strong>Chiều: </strong>Cơm, khổ qua hầm, canh cải thảo; mì, canh bí xanh, nấm kho; cơm, rau ngót nấu rơm, mít non kho; cơm, khổ qua hầm, canh cải thảo.v.v
                </p>
                <p><strong class="text-danger">Lưu ý:</strong> Nếu như bạn ăn chay không vì lý do tín ngưỡng hoặc tôn giáo thì bạn có thể chế biến thêm các món ăn từ trứng, vì trứng cung cấp rất nhiều protein.</p>
            </div>
        </div>
        <div>
            <h3 class="text-success">4. Thực đơn ăn chay trong 1 tuần đúng cách, khoa học</h3>
            <div class="my-3 mx-5">
                <p><strong>Thứ hai</strong></p>
                <ul>
                    <li>Sáng: Mì bò viên chay.</li>
                    <li>Giữa sáng: Xoài chín.</li>
                    <li>Trưa: Cơm, canh khổ qua, đậu hủ chiên sả, một múi bưởi.</li>
                    <li>Giữa trưa: Một ly sữa đậu nành không đường.</li>
                    <li>Chiều: Cơm, canh rau ngót nấu nấm rơm, mít non kho và một múi bưởi.</li>
                </ul>
                <p><strong>Thứ ba</strong></p>
                <ul>
                    <li>Sáng: Bún xào.</li>
                    <li>Giữa sáng: Dâu tây trộn sữa chua.</li>
                    <li>Trưa: Cơm, canh bí đỏ nấu đậu phộng, đậu hủ kho.</li>
                    <li>Giữa trưa: Khoai lang và một ly sữa đậu nành không đường.</li>
                    <li>Chiều: Canh bí xanh, nấm kho.</li>
                </ul>
                <p><strong>Thứ tư</strong></p>
                <ul>
                    <li>Sáng: Mì bò viên chay.</li>
                    <li>Giữa sáng: Một hũ sữa chua.</li>
                    <li>Trưa: Cơm, đậu hủ xốt cà chua nấm, canh cải xanh, một quả táo.</li>
                    <li>Giữa trưa: Một ly sữa đậu nành không đường.</li>
                    <li>Chiều: Cơm, khổ qua hầm, canh cải thảo.</li>
                </ul>
                <p><strong>Thứ năm</strong></p>
                <ul>
                    <li>Sáng: Bánh mì bơ đậu phộng.</li>
                    <li>Giữa sáng: Sữa chua.</li>
                    <li>Trưa: Cơm, đậu phộng rang, canh chua nấu thơm, một trái mận.</li>
                    <li>Giữa trưa: Một quả thanh long.</li>
                    <li>Chiều: Cơm, canh mồng tơi, đậu hủ kho thập cẩm (đậu hủ, cà rốt, đậu đũa, măng tre) và một trái mận.</li>
                </ul>
                <p><strong>Thứ sáu</strong></p>
                <ul>
                    <li>Sáng: Bánh bao chay.</li>
                    <li>Giữa sáng: Sữa tươi, đu đủ.</li>
                    <li>Trưa: Cơm, canh khổ qua, đậu hủ xốt cà.</li>
                    <li>Giữa trưa: Một quả lê.</li>
                    <li>Chiều: Cơm, canh bí đỏ, cà rốt, khoai tây kho đậu phộng.</li>
                </ul>
                <p><strong>Thứ bảy</strong></p>
                <ul>
                    <li>Sáng: Bún riêu chay.</li>
                    <li>Giữa sáng: Sữa tươi.</li>
                    <li>Trưa: Cơm, bầu luộc, rau xào thập cẩm và một trái mận.</li>
                    <li>Giữa trưa: Quýt.</li>
                    <li>Chiều: Cơm, canh rau dền cơm, đậu hủ xốt nấm và một trái mận</li>
                </ul>
            </div>
            <center><img class='mt-1 img-fluid' src="http://127.0.0.1:8000/static/images/vegan(11).jpg" alt=""></center>
        </div>
    </div>
</section>
{% endblock %}
