{% extends "users/layouts/main.html" %}
{% load static %}
{% block title %}Ăn chay{% endblock %}
{% block menu %}active{% endblock %}
{% block content %}


<section class="p-3 p-lg-0 pt-lg-3 text-center text-sm-start">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <div class="block-heading">
                        <h1 class="text-center text-danger"><strong>MÓN CHAY BỔ DƯỠNG CHO NGƯỜI ĂN CHAY TRƯỜNG</strong></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3 class="text-danger">1. Ăn chay trường để làm gì?</h3>
            <p>Hiện nay có rất nhiều gia đình có người ăn chay trường. Nghĩa là họ ăn chay tất cả các ngày chứ không phải chỉ ăn vào mùng 1 và rằm hàng tháng nữa.</p>
            <p>
                Việc ăn chay trường theo nhiều người là tích phước, công đức cho gia đình. Tuy là một điều phước thiện, nhưng nếu không biết cách ăn chay mà vẫn đảm bảo đầy đủ dưỡng chất thì sẽ ảnh hưởng đến sức khoẻ rất nhiều. Ăn chay trường đúng cách an toàn cho sức khoẻ.
            </p>
            <h3 class="text-danger">2. Những điều chưa biết về ăn chay</h3>
            <p>
                Một người trưởng thành tiêu thụ trung bình mỗi ngày khoảng 2.000 calorie. Vì vậy, tỷ lệ các nhóm thực phẩm tinh bột – đạm – đường – béo – xơ trong khẩu phần của người ăn chay đúng cách phải được cân bằng nhằm cung cấp đủ dưỡng chất cho cơ thể.
            </p>
            <p>
                Trong chế độ ăn chay, thực phẩm chủ yếu dựa vào ngũ cốc, rau quả nên thường thiếu một số chất khoáng như sắt, kẽm, vitamin B12… cần chọn lựa, phối hợp thực phẩm và bổ sung các vitamin, chất khoáng một cách hợp lý để không bị thiếu các acid amin thiết yếu, vitamin B12, năng lượng, kẽm, sắt.
            </p>
            <center><img class="img-fluid m-3" src="http://127.0.0.1:8000/static/images/vegan(12).jpg" alt=""></center>
            <h3 class="text-danger">3. Làm sao để tránh thiếu máu, thiếu sắt khi ăn chay trường</h3>
            <p>Tránh thiếu máu do thiếu sắt bằng cách ăn nhiều rau quả (đặc biệt là cam, chanh, dưa đỏ, ớt, cà chua, bông cải xanh…).</p>
            <p>Rau quả có nhiều vitamin C, giúp tăng cường hấp thu sắt và lấn át cả tác dụng ngăn cản hấp thu sắt của acid phytic, acid oxalic, acid tannic… đôi khi có thể uống thêm viên bổ sung vitamin tổng hợp.</p>
            <h3 class="text-danger">4. Thực đơn ăn chay chi tiết</h3>
            <div class="mt-3 mx-3">
                <h4>1. Món canh nấm hầm bí</h4>
                <p>
                    Canh nấm hầm bí gồm các loại nấm như nấm đông cô, kim châm, nấm rơm, nấm hương, đùi gà nấu chung với bí đỏ, súp lơ xanh. Nói đến lượng dinh dưỡng thì nấm là loại thực phẩm có lượng Calo thấp, nhưng lại có hàm lượng chất xơ và vitamin cao như B1, B2, B3, B5, B9, A, C, D, E, H, PP cùng các loại khoáng chất. Đồng thời bí đỏ được biết lại giàu Vitamin A, C. Khi nấu chung thì sẽ cung cấp và cân bằng lượng Vitamin thiếu hụt của người ăn chay.
                </p>
                <center><img class="img-fluid m-3" src="http://127.0.0.1:8000/static/images/vegan(13).jpg" alt=""></center>
                <h4>2. Món măng tươi xào đậu hủ bún tàu</h4>
                <p>
                    Măng tươi chứa nhiều thành phần dinh dưỡng cũng như nguyên tố vi lượng cần thiết cho cơ thể như sắt, phốt pho, canxi, protein thực vật. Đồng thời măng còn có  protid, glucid 2 dưỡng chất quan trọng trong thực phẩm rất cần cho cơ thể mà người ăn chay hay bị thiếu.
                </p>
                <center><img class="img-fluid m-3" src="http://127.0.0.1:8000/static/images/vegan(14).jpg" alt=""></center>
                <h4>3. Khổ qua xào đậu hũ cà rốt chay</h4>
                <p>
                    Rau củ là món thường nhật có mặt trong món chay, kết hợp cà rốt, bắp, khổ qua tạo một món rau củ cho bữa chay đủ chất. Bổ sung vitamin A, chất sắt từ cà rốt thêm nguồn vitamin C dồi dào, nguồn Protein thay thế thịt từ khổ qua sẽ giúp người ăn chay có một hệ miễn dịch tốt nhất.
                </p>
                <center><img class="img-fluid m-3" src="http://127.0.0.1:8000/static/images/vegan(15).jpg" alt=""></center>
                <h4>4. Canh rau xà lách xoong nấu nấm chay</h4>
                <p>
                    Canh rau xà lách xoong mang đến cho bữa ăn chất sắt từ rai và các loại vitamin A, B, C, D, E, H, PP…các khoáng chất thay cho các loại hải sản từ nấm. Canh xà lách xoong không chỉ là món ăn mà còn có tác dụng giải nhiệt rất tốt cho sức khỏe.
                </p>
                <p>
                    Món canh vừa ngon, dễ ăn, lại rẻ. Rất thích hợp giải nhiệt cho mùa hè oi bức. Protein trong đậu hủ cũng giúp bạn thay thế protein trong thịt rất tốt.
                </p>
                <center><img class="img-fluid m-3" src="http://127.0.0.1:8000/static/images/vegan(16).jpg" alt=""></center>
                <h4>5. Cà tím xào chay</h4>
                <p>
                    Cà tím là một trong các thực phẩm chay khá giàu vitamin, khoáng chất và nhiều chất chống oxy hóa rất tốt cho sức khỏe người ăn chay.
                </p>
                
                <center><img class="img-fluid m-3" src="http://127.0.0.1:8000/static/images/vegan(17).jpg" alt=""></center>
                <h4>6. Canh khoai mỡ chay </h4>
                <p>
                    Trong củ khoai mỡ có chứa tinh bột và là nguồn cung cấp carbohydrate, kali cũng như vitamin C. Đồng thời còn có chất béo thay cho mỡ động vật và protein thay cho thịt rất cần thiết cho người ăn chay, cùng lúc đó còn có Sắt, Canxi, vitamin A và C. Hơn thế nữa, các Flavonoid trong khoai mỡ có tác dụng giảm lượng đường trong máu rất tốt.
                </p>
                
                <center><img class="img-fluid m-3" src="http://127.0.0.1:8000/static/images/vegan(18).jpg" alt=""></center>
                <h4>7. Dưa chuột muối </h4>
                <p>
                    Lượng nước chứa đến 90%, ngoài ra là hàng loạt các khoáng chất, vitamin cần bổ sung vào cơ thể mỗi ngày mà ăn chay cần có như:
– Chất xơ, vitamin C, vitamin B1, B2, B5, B6, vitamin V3,
– Folic acid, magie, canxi, kali, sắt, kẽm…
                </p>
                
                <center><img class="img-fluid m-3" src="http://127.0.0.1:8000/static/images/vegan(19).jpg" alt=""></center>
                <h4>8. Bắp cải cuộn</h4>
                <p>
                    Thực phẩm này là rất thấp trong chất béo bão hòa và cholesterol. Nó cũng là một nguồn tốt của thiamin , canxi , sắt, magiê , phốt pho và kali. Đồng thời một nguồn rất tốt của chất xơ , Vitamin C , Vitamin K , Vitamin B6 , folate và mangan.
                </p>
                <center><img class="img-fluid m-3" src="http://127.0.0.1:8000/static/images/vegan(20).jpg" alt=""></center>
                <h4>8. Bắp cải cuộn</h4>
                <p>
                    Bên cạnh nấm chứa nhiều chất dinh duỡng và vitamin thì hạt sen có chứa carbohydrate, protein, nhưng chỉ có 1,9-2,5g mỡ. Còn lại là các thành phần khác như nước (13%), khoáng chất (chủ yếu là natri, kali, canxi, phốt pho).
                </p>
                <center><img class="img-fluid m-3" src="http://127.0.0.1:8000/static/images/vegan(21).jpg" alt=""></center>
                <h4>9. Đậu cô ve xào vừng </h4>
                <p>
                    Đậu cô ve không chỉ có chứa nhiều nguyên tố vi lượng như protein, canxi, sắt, mà còn có nhiều kali, magie, ít natri.
                </p>
                <center><img class="img-fluid m-3" src="http://127.0.0.1:8000/static/images/vegan(22).jpg" alt=""></center>
                <h4>10. Đậu bắp dầu hành </h4>
                <p>
                    Đậu bắp rất giàu vitamin K, vitamin B, sắt, kali, kẽm, canxi, mangan và magiê… giúp tạo ra nhiều tế bào hồng cầu trong cơ thể. Đây là món giúp bổ sung chất sắt cho người ăn chay thường rất thiếu.
                </p>
                <center><img class="img-fluid m-3" src="http://127.0.0.1:8000/static/images/vegan(23).jpg" alt=""></center>
                <h4>11. Canh rong biển </h4>
                <p>
                    Rong biển cũng chứa một lượng  vitamin A, C, E và K cùng với folate, kẽm, natri, canxi và magie. Ngoài ra, một số loại rong cũng chứa tất cả các axit amin thiết yếu cho cơ thể. Rong biển cũng có thể là một nguồn chất béo omega-3 và vitamin B12 dồi dào.
Có thể thấy đây là nguồn bổ sung dinh dưỡng tuyệt vời cho người ăn chay đấy.
                </p>
                <center><img class="img-fluid m-3" src="http://127.0.0.1:8000/static/images/vegan(24).jpg" alt=""></center>
            
            </div>
            
        </div>
    </div>
</section>
{% endblock %}