{% extends "users/templates/users/layouts/main.html" %} 
{% load static %} 
{% block title %}Giới Thiệu{% endblock %} 

{% block link %}
<!--Add CSS  -->
<!-- <link rel="stylesheet" href="assets/css/fontawesome.css"> -->
<link rel=" stylesheet " href="{%static '/css/about.css' %}" />
<link rel="stylesheet" href="{%static '/css/templatemo-grad-school.css' %}" />
<link rel=" stylesheet " href="{%static '/css/owl.css' %}" />
<link rel=" stylesheet " href="{%static '/css/lightbox.css' %}" />
<link rel=" icon " type="image/png " href="{% static '/images/icons/logo.ico ' %} " /> 
{% endblock %} 

{% block about %}active{% endblock %} 

{% block content %}
<section class="section about-us" data-section="section2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Suitable Diet Website</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div id='tabs'>
                    <ul>
                        <li><a href='#tabs-1'>Best Education</a></li>
                        <li><a href='#tabs-2'>Top Management</a></li>
                        <li><a href='#tabs-3'>Quality Meeting</a></li>
                    </ul>
                    <section class='tabs-content'>
                        <article id='tabs-1'>
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="http://127.0.0.1:8000/static/images/1000_calo(6).jpg" alt="">
                                </div>
                                <div class="col-md-6">
                                    <h4>Best Diets</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dicta quasi corrupti? Corporis iusto sapiente quisquam, ipsa hic itaque vel iste eius dolores quae commodi! Neque voluptas explicabo eum sequi? Please tell your friends about us. Thank you.</p>
                                </div>
                            </div>
                        </article>
                        <article id='tabs-2'>
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="http://127.0.0.1:8000/static/images/other(9).jpg" alt="">
                                </div>
                                <div class="col-md-6">
                                    <h4>Top Food</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus magni illum quia quod sapiente, tenetur unde tempore enim assumenda itaque recusandae ut aut animi eos eveniet ad ab repudiandae consectetur?</p>
                                    <p>Suspendisse tincidunt, magna ut finibus rutrum, libero dolor euismod odio, nec interdum quam felis non ante.</p>
                                </div>
                            </div>
                        </article>
                        <article id='tabs-3'>
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="http://127.0.0.1:8000/static/images/vegan(27).jpg" alt="">
                                </div>
                                <div class="col-md-6">
                                    <h4>Quality Diet</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe nemo voluptatem fuga vero exercitationem esse voluptatibus reiciendis illum rem optio, impedit rerum, sit quaerat! Reprehenderit molestias error distinctio porro in!</p>
                                </div>
                            </div>
                        </article>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section about-member " data-section="section3 ">
    <div class="container ">
        <div class="row ">
            <div class="col-md-12">
                <div class="about-member">
                    <h2>Introduction Member</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 ">
                        <div class="member ">
                            <div class="img-avt ">
                                <img src="http://127.0.0.1:8000/static/images/member-03.jpeg" alt=" ">
                                <div class="info-social ">
                                    <ul class="list-inline ">
                                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                        <li><a href=""><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="img-text ">
                                <h4>Tai Nguyen</h4>
                                <h5>Creativity</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 ">
                        <div class="member ">
                            <div class="img-avt ">
                                <img src="http://127.0.0.1:8000/static/images/member-03.jpeg " alt=" ">
                                <div class="info-social ">
                                    <ul class="list-inline ">
                                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                        <li><a href=""><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="img-text ">
                                <h4>Chau Thanh Tuan</h4>
                                <h5>Innovatility</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 ">
                        <div class="member ">
                            <div class="img-avt ">
                                <img src="http://127.0.0.1:8000/static/images/member-03.jpeg" alt=" ">
                                <div class="info-social ">
                                    <ul class="list-inline ">
                                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                        <li><a href=""><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="img-text ">
                                <h4>Phong Tran</h4>
                                <h5>Responsibility</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %} 

{% block event %}
<script src="{% static '/bootstrap/js/bootstrap.js' %} "></script>
<script src="{% static '/js/isotope.min.js' %}"></script>
<script src="{% static '/js/owl-carousel.js' %}"></script>
<script src="{% static '/js/lightbox.js' %}"></script>
<script src="{% static '/js/tabs.js' %}"></script>
<script src="{% static '/js/video.js' %}"></script>
<script src="{% static '/js/slick-slider.js' %}"></script>
<script src="{% static '/js/custom.js' %}"></script>
{% endblock %}