{% extends "users/layouts/main.html" %}
{% load static %}
{% block title %}Giảm cân{% endblock %}
{% block menu %}active{% endblock %}
{% block content %}



<section class="p-3 p-lg-0 pt-lg-3 text-center text-sm-start">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <div class="block-heading">
                        <h1 class="text-center text-primary"><strong>CHẾ ĐỘ ĂN 1000 CALO MỖI NGÀY, THỰC ĐƠN ĂN KIÊNG 7 NGÀY TRONG TUẦN GIẢM CÂN HIỆU QUẢ</strong></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-5">
            <div>
                <h2 id="item-1"><strong>1. Cách thực hiện chế độ ăn uống 1000 calo</strong></h2>
                <div class=" bg-light text-dark px-5">
                    <p>Chế độ ăn uống 1000 calo tập trung vào bữa ăn nhỏ hơn và thường xuyên cũng như giảm lượng chất béo, đường và carbohydrate</p>
                    <p>Nghiêm cấm sử dụng rượu nhưng chế độ uống soda và cà phê đen được sử dụng trong chừng mực.</p>
                    <p>Trái cây và rau quả không nên bỏ qua như rau xanh như rau bina, cần tây, bí xanh, bông cải xanh và atisô rất giàu vitamin và khoáng chất với hàm lượng calo thấp. Ví dụ như bắp cải chỉ chứa 35 calo nhưng là khá giàu chất xơ dinh dưỡng. Các loại rau như dưa chuột, cần tây và ớt thân thiện, có hàm lượng nước cao. </p>
                    <p>
                        Kết hợp các loại thực phẩm giàu vitamin B, protein và chất xơ thường được tìm thấy trong thực phẩm lúa mì và men.
                    </p>
                    <center><img class="img-fluid" class="p-3" src="http://127.0.0.1:8000/static/images/1000_calo(1).jpg" alt=""></center>
                    <p>Nguồn canxi từ sữa ít chất béo và rau xanh. Giảm các loại thực phẩm như toàn bộ tinh bột hoặc chất béo trans-là hệ thống cơ thể của bạn yêu cầu dinh dưỡng để cải thiện sức khỏe tổng thể</p>
                    <p>Các loại trái cây như cam, dưa đỏ, kiwi, lê, dâu tây,… cung cấp lượng calo tối thiểu có thể được sử dụng trong các món salad.</p>
                    <p>Tập thể dục có thể không cần thiết nhưng tốt nhất bạn có thể tập luyện trên năng lượng dư thừa của mình bằng cách đi bộ, chạy bộ, đạp xe nhẹ nhàng trên xe đạp tập.</p>
                </div>
            </div>
            <div>
                <h2 id="item-2"><strong>2. Cách ăn kiêng giảm béo hiệu quả với thực đơn 1.000 calo</strong></h2>
                <div class=" bg-light text-dark px-5">
                    <p>Chế độ ăn 1000 calo này hướng tới chia nhỏ các bữa ăn, hạ thấp lượng chất béo, đường và carbohydrate, tăng cường xơ và vitamin từ rau củ.</p>
                    <p><strong>Thực đơn ăn kiêng giảm béo trong ngày</strong></p>
                    <ul>
                        <li><strong>Ăn sáng:</strong> Dùng 1 quả chuối, 1 ly nước cam tươi 200ml và 2 lát bánh sandwich</li>
                        <center><img class="p-3 img-fluid" src="http://127.0.0.1:8000/static/images/1000_calo(2).jpg" alt=""></center>
                        <li><strong>Bữa trưa: </strong>45g tinh bột lúa mì, 70g cá ngừ, 10g mayonnaise loại ít calo. Salad với 50 g rau diếp, 50 g ớt ngọt màu đỏ hoặc vàng và 10 g hành lá.</li>
                        <li><strong>Ăn chiều: </strong>Một túi khoai tây chiên giòn, ít béo</li>
                        <li><strong>Ăn tối: </strong>Ức gà không da 70g, khoai tây nghiền 80g, sữa tách kem 30ml. Bông cải xanh 60g, cà rốt 50g và 100ml nước sốt từ các loại hạt.</li>
                        <li><strong>Bữa phụ</strong>chocolate nóng.</li>
                        <p><strong>Lưu ý: </strong>Bạn không nên uống rượu khi áp dụng chế độ ăn 1000 calo này. Cà phê đen và soda thì có thể dùng chừng mực. Bạn không cần tập thể dục vì nguồn năng lượng không đảm bảo.</p>
                        <center><img class="p-3 img-fluid" src="http://127.0.0.1:8000/static/images/1000_calo(3).jpg" alt=""></center>
                        <li>Lựa chọn thực phẩm an toàn và giàu vitamin B, protein và chất xơ.</li>
                        <li>Các thực phẩm giàu canxi nên ưu tiên đưa vào thực đơn ăn kiêng này là: rau bina, cần tây, bí xanh, bông cải xanh và atisô rất giàu vitamin và khoáng chất, hàm lượng calo thấp.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 id="item-3" class="p-3"><strong>3. Đánh giá thực đơn</strong></h2>
            <div class=" col-lg-5">
                <div class="accordion" id="accordion_1">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading_1">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_1" aria-expanded="true" aria-controls="collapse_1">
                            Ưu điểm
                        </button>
                        </h2>
                        <div id="collapse_1" class="accordion-collapse collapse show" aria-labelledby="heading_1" data-bs-parent="#accordion_1">
                        <div class="accordion-body">
                            
                            <ul>
                                <li>Chế độ ăn này sẽ giúp bạn giảm cân trong thời gian rất ngắn khi giảm lượng năng lượng đáng kể dung nạp vào cơ thể.</li>
                                <li>Thực đơn này cung cấp dinh dưỡng phong phú và đầy đủ nhưng chỉ có lượng calo tối thiểu.</li>
                                <li>Bạn cũng ít cảm thấy đói do thực đơn nhiều nước, chất xơ.</li>
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class=" col-lg-5">
                <div class="accordion" id="accordion_2">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading_2">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_2" aria-expanded="true" aria-controls="collapse_2">
                            Nhược điểm
                        </button>
                        </h2>
                        <div id="collapse_2" class="accordion-collapse collapse show" aria-labelledby="heading_4" data-bs-parent="#accordion_2">
                        <div class="accordion-body">
                            <ul>
                                <li>Thực đơn này thiếu một số dưỡng chất quan trọng cho cơ thể nên không thể duy trì quá lâu mà chỉ có thể áp dụng trong khoảng 1 tuần.</li>
                                <li>Nếu kéo dài có thể dẫn đến thiếu nước, mất cơ bắp, thiếu năng lượng, nhịp tim chậm, rụng tóc và móng yếu.</li>
                                <li>Bạn sẽ khó có thể vận động mạnh do lượng calo bị cắt giảm. Nếu cố ý vận động sẽ dễ mệt mỏi.</li>
                                <li>Chế độ này phù hợp với phụ nữ nhỏ con, không phù hợp với người to con hay nam giới.</li>
                                <li>Nếu bạn đang chữa bệnh hoặc dùng thuốc thì nên có ý kiến của bác sĩ khi muốn áp dụng thực đơn này</li>
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 id="item-4" class="pt-3"><strong>4. Đề xuất thực đơn</strong></h2>
            <div class=" bg-light text-dark px-5">
                <h3 id="item-4-1"><strong>Ngày thức nhất: giảm cân với trái cây</strong></h3>
                <ul>
                    <li>Trong ngày đầu tiên bạn được ăn bất cứ loại trái cây nào mình thích. Dưa hấu là gợi ý cho bạn nhưng bạn có thể chọn loại quả khác.</li>
                    <li>Tuy nhiên, bạn nên tránh ăn chuối và không ăn thêm bất kỳ thực phẩm nào khác.</li>
                    <li>Nhớ uống đủ 2-3 lít nước để cơ thể thanh lọc và loại bỏ độc tố nhé.</li>
                    <center><img class="p-3 img-fluid"  src="http://127.0.0.1:8000/static/images/1000_calo(5).jpg" alt=""></center>
                </ul>
                <h3 id="item-4-2"><strong>Ngày thứ 2: Giảm cân với rau xanh</strong></h3>
                <ul>
                    <li>Sang ngày thứ 2 bạn thay trái cây bằng rau xanh.</li>
                    <li>Tương tự, hãy lựa chọn loại rau bạn thích để dùng, nhưng tránh dùng khoai tây.</li>
                    <li>Các loại thực phẩm được khuyến cáo như: đậu, bông cải xanh, cà rốt, dưa leo, rau bina…</li>
                    <li>Lúc này bộ tiêu hóa của bạn sẽ dọn sạch các chất cặn bã và chất béo dư thừa trong cơ thể.</li>
                    <li>Bạn có thể uống thêm nước ép rau củ và đừng quên uống ít nhất 2 lít nước mỗi ngày đó nhé.</li>
                    <center><img class="p-3 img-fluid" src="http://127.0.0.1:8000/static/images/1000_calo(6).jpg" alt=""></center>
                </ul>
                <h3 id="item-4-3"><strong>Ngày thứ 3: giảm cân bằng cách kết hợp trái cây và rau củ</strong></h3>
                <ul>
                    <li>Lúc này bạn kết hợp cả rau củ và hoa trái cho thực đơn của mình nhưng tránh chuối và khoai tây đấy.</li>
                    <li>Số lượng là không giới hạn nhưng ngoài hai loại thực phẩm này bạn không được ăn thêm bất kỳ loại thực phẩm nào khác.</li>
                </ul>
                <h3 id="item-4-4"><strong>Ngày thứ 4: Thực đơn giản cân với cơm và rau</strong></h3>
                <ul>
                    <li>Trong ngày thứ 4 bạn có thể dùng chuối và sữa. Nhưng bạn chỉ được ăn 8 quả chuối và 3 ly sữa mỗi ngày.</li>
                    <li>Chia đều chúng trong ngày để dùng tránh cảm giác đói và mệt nhé.</li>
                    <li>Hai loại thực phẩm này bù đắp kali và natri cho cơ thể, giảm các cảm giác khó chịu cho bạn.</li>
                </ul>
                <h3 id="item-4-5"><strong>Ngày thứ 5: Thực đơn giảm cân với cơm và cà chua</strong></h3>
                <ul>
                    <li>Bạn được ăn 1 chén cơm nhỏ và 7 quả cà chua cho cả ngày.</li>
                    <li>Thực đơn này sẽ khiến cơ thể tăng cường axit uric và giải phóng tối đa lượng mỡ thừa ẩn trong cơ thể.</li>
                    <li>Bạn cần uống nhiều nước hơn để thanh lọc cơ thể và giảm cảm giác đói trong ngày này.</li>
                </ul>
                <h3 id="item-4-6"><strong>Ngày thứ 6: Thực đơn giảm cân với cơm và rau</strong></h3>
                <center><img class="p-3 img-fluid" src="http://127.0.0.1:8000/static/images/1000_calo(7).jpg" alt=""></center>
                <ul>
                    <li>Thực đơn của bạn lúc này vẫn đơn giản là cơm và rau để bổ sung cabohydrat cho cơ thể.</li>
                    <li>Bạn được toàn quyền lựa chọn loại rau yêu thích. Nhưng tránh khoai tây và chuối.</li>
                    <li>Vẫn lưu ý cũ, uống ít nhất 2 lít nước trong ngày.</li>
                </ul>
                <h3 id="item-4-7"><strong>Ngày thứ 7: thực đơn giảm cân với cơm, rau và nước ép trái cây</strong></h3>
                <div class="mx-3">
                    <p>Trong ngày cuối cùng của liệu trình này bạn chỉ ăn 1 chén cơm cùng với các loại rau xanh và được uống nước ép giảm cân như bưởi hay cà rốt. Bạn nên ăn rau củ hấp luộc, tránh dầu mỡ nhé. Uống ít nhất 2 lít nước trong ngày.</p>
                    <center><img class="p-3 img-fluid" src="http://127.0.0.1:8000/static/images/1000_calo(8).jpg" alt=""></center>
                </div>
            </div>
        </div>
        
</section>
{% endblock %}