{% extends "users/layouts/main.html" %}
{% load static %}
{% block title %}Giảm cân{% endblock %}
{% block menu %}active{% endblock %}
{% block content %}

<section class="p-3 p-lg-0 pt-lg-3 text-center text-sm-start">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <div class="block-heading">
                        <h1 class="text-center text-danger"><strong>THỰC ĐƠN LOW CARB GIẢM CÂN TRONG 7 NGÀY, THƠM NGON ĐỦ CHẤT</strong></h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-5">
            <h2 id="item-1" class="text-success">1. Chế độ ăn kiêng Low Carbs là gì?</h2>
            <div class=" px-5">
                <p>Chế độ ăn giảm cân Low Carb là một phương pháp ăn kiêng có vẻ "dễ thở" vì bạn không bị giới hạn lượng calo nạp vào. Bạn sẽ không mau nản như khi thực hiện những phương pháp ăn kiêng khổ sở khác.</p>
                <p>Low Carb là viết tắt của từ Low-Carbohydrate, có nghĩa là ít tinh bột, ít đường</p>
                <p><strong>Nguyên tắc:</strong></p>
                <ul>
                    <li>Hạn chế tối đa thực phẩm có đường và tinh bột</li>
                    <li>Ăn không bị giới hạn chất béo và chất đạm</li>
                </ul>
                <p><strong>Mẹo thực hiện thực đơn Low Carb hiệu quả</strong></p>
                <ul>
                    <li>Nấu cho 2 bữa: Nếu bạn muốn tiết kiệm và không sợ nhàm chán, hãy nấu gấp đôi lượng thức ăn và để dành cho ngày hôm sau</li>
                    <li>Lặp lại những món ăn yêu thích: Tâm lý là rất quan trọng trong các kế hoạch giảm cân nên cứ ăn thức bạn thích</li>
                    <li>Những món ăn nhanh gọn: Nếu hôm nào quá bận hoặc lười vào bếp, bạn có thể xử nhanh gọn với thịt nguội, phô mai và một số loại rau củ ăn sống.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <h2 id="item-2" class="text-success">2. Thực đơn giảm cân theo chế độ Low Carb</h2>
            <div class=" px-5">
                <h3 class="text-danger"><strong>Lưu ý</strong></h3>
                <p class="px-5">Low Carb là ít carb chứ không phải hoàn toàn không có carb, trong thực đơn vẫn có sự xuất hiện của các món ăn chứa carb lành mạnh</p>
                <p class="px-5">Nếu bạn tập luyện, làm việc, hoạt động nhiều thì có thể tăng lượng carb lên một chút để đảm bảo năng lượng.</p>
                <div id="item-2-1">
                    <h3><strong>Ngày 1</strong></h3>
                    <ul>
                        <li>Bữa sáng: Trứng cuộn bông cải xanh và thịt xông khói (259 calo, 10g carbs).</li>
                        <center><img class="mt-1 align-items-center img-fluid" src="http://127.0.0.1:8000/static/images/lowcarbs(2).jpg" alt=""></center>
                        <li>Bữa phụ sáng: 1 quả cam cỡ vừa (62 calo, 15g carbs)</li>
                        <li>Bữa trưa: Nửa quả bơ nướng phô mai + 2 cups rau trộn dầu giấm (340 calo, 14g carbs)</li>
                        <center><img class="mt-1 align-items-center img-fluid" src="http://127.0.0.1:8000/static/images/lowcarbs(3).jpg" alt=""></center>
                        <li>Bữa phụ chiều: 1/2 cup quả mâm xôi (32 calo, 7g carbs)</li>
                        <li>Bữa tối: Mì Ý với tôm + 1 lát bánh mì baguette nguyên hạt nướng với 1 thìa cà phê dầu oliu (508 calo, 47g carbs)</li>
                        <center><img class="mt-1 align-items-center img-fluid" src="http://127.0.0.1:8000/static/images/lowcarbs(4).jpg" alt=""></center>
                        <li>Tổng dinh dưỡng trong ngày: 1200 calo, 56g protein, 94g carbs, 23g chất xơ, 71g chất béo, 1859mg natri</li>
                    </ul>
                </div>
                <div id="item-2-2">
                    <h3><strong>Ngày 2</strong></h3>
                    <ul>
                        <li>Bữa sáng: Bánh Blueberry Muffins + ¾ cup mâm xôi (252 calo, 26g carbs). Bạn có thể tự trổ tài làm bánh Muffins với bột hạnh nhân, hạt dẻ và bột dừa thay cho bột mì thông thường</li>
                        <center><img class="mt-1 align-items-center img-fluid" src="http://127.0.0.1:8000/static/images/lowcarbs(5).jpg" alt=""></center>
                        <li>Bữa phụ sáng: 1 quả cam cỡ vừa (62 calo, 15g carbs)</li>
                        <li>Bữa trưa: 1 chén cơm Burrito (298 calo, 15g carbs). Công thức gồm cơm (có thể chọn gạo nâu), ½ cup thịt bò bằm, ¼ cup bắp cải và quả bơ thái nhỏ, 2 thìa sốt salsa và 1 thìa rau mùi</li>
                        <center><img class="mt-1 align-items-center img-fluid" src="http://127.0.0.1:8000/static/images/lowcarbs(6).jpg" alt=""></center>
                        <li>Bữa phụ chiều: 2 quả mận (61 calo, 15g carbs)</li>
                        <li>Bữa tối: 112g sườn heo nướng phô mai + 675g bông cải xanh xào với 1 ½ thìa dầu (543 calo, 20g carbs). Bạn nhúng sườn heo trong hỗn hợp trứng + phô mai + vụn bánh mì rồi nướng.</li>
                        <center><img class="mt-1 align-items-center img-fluid" src="http://127.0.0.1:8000/static/images/lowcarbs(7).jpg" alt=""></center>
                        <li>Tổng dinh dưỡng trong ngày: 1.215 calo, 59g protein, 92g carbohydrate, 26g chất xơ, 73g chất béo, 1.635mg natri</li>
                    </ul>
                </div>
                <div id="item-2-3">
                    <h3><strong>Ngày 3</strong></h3>
                    <ul>
                        <li>Bữa sáng: Bánh Blueberry Muffins + 1 quả cam cỡ vừa (266 calo, 30g carbs).</li>
                        <li>Bữa phụ sáng: ¾ cup quả mâm xôi + ¼ cup sữa chưa Hy Lạp (110 calo, 14g carbs).</li>
                        <li>Bữa trưa: 1 chén cơm Burrito (298 calo, 15g carbs).</li>
                        <li>Bữa phụ chiều: 12 quả hạnh nhân (92 calo, 3g carbs).</li>
                        <li>Bữa tối: 450g ức gà chiên với 450g rau bina + 2 cups mì bí sợi - mì làm từ bí đỏ (459 calo, 29g carbs). Hoặc bạn cũng có thể chọn các loại mì khác dành riêng cho <strong>thực đơn Low Carb diet</strong> có ghi trên bao bì.</li>
                        <center><img class="mt-1 align-items-center img-fluid" src="http://127.0.0.1:8000/static/images/lowcarbs(8).jpg" alt=""></center>
                        <li>Tổng dinh dưỡng trong ngày: 1.224 calo, 73g protein, 91g carbohydrate, 27g chất xơ, 63g chất béo, 1.459mg natri</li>
                </div>
                <div id="item-2-4">
                    <h3><strong>Ngày 4</strong></h3>
                    <ul>
                        <li>Bữa sáng: 1 cup quả mâm xôi + ½ cup sữa chua Hy Lạp thêm dừa và hạnh nhân xắt nhỏ (260 calo, 23g carbs).</li>
                        <li>Bữa phụ sáng: 1 cup nho đỏ + 28g phô mai (218 calo, 28g carbs).</li>
                        <li>Bữa trưa: 1 chén cơm Burrito (298 calo, 15g carbs).</li>
                        <li>Bữa phụ chiều: 1 quả mận (30 calo, 8g carbs).</li>
                        <li>Bữa tối: Salad rau và 450g cá hồi phi lê ăn kèm với nước sốt (409 calo, 19g carbs). Phần rau gồm 8 cup cải xoăn xắt nhỏ, 2 cup bắp cải đỏ xắt nhỏ, 2 cup bông cải xanh xắt nhỏ, 2 cup cà rốt thái hạt lựu, ½ cup hạt hướng dương.</li>
                        <center><img class="mt-1 align-items-center img-fluid" src="http://127.0.0.1:8000/static/images/lowcarbs(9).jpg" alt=""></center>
                        <li>Tổng dinh dưỡng trong ngày: 1.216 calo, 70g protein, 92g carbohydrate, 24g chất xơ, 68g chất béo, 1.272mg natri</li>
                    </ul>
                </div>
                <div id="item-2-5">
                    <h3><strong>Ngày 5</strong></h3>
                    <ul>
                        <li>Bữa sáng: 1 cup quả mâm xôi + ½ cup sữa chua Hy Lạp với dừa và hạnh nhân xắt nhỏ (260 calo, 23g carbs).</li>
                        <li>Bữa phụ sáng: 1 quả táo cỡ vừa + 28g phô mai (209 calo, 26g carbs).</li><li>Bữa trưa: 1 chén cơm Burrito (298 calo, 15g carbs).</li>
                        <li>Bữa phụ chiều: 1 cup nho đỏ và 12 quả hạnh nhân (145 calo, 17g carbs).</li>
                        <li>Bữa tối: Salad rau và thịt bò + 1 quả cam cỡ vừa (300 calo, 32g carbs). Bạn có thể áp dụng món này trong <strong>thực đơn Low Carb mỗi ngày</strong> mà không sợ ngán.</li>
                        <center><img class="mt-1 align-items-center img-fluid" src="http://127.0.0.1:8000/static/images/lowcarbs(10).jp}" alt=""></center>
                        <li>Tổng dinh dưỡng trong ngày: 1.211 calo, 61g protein, 113g carbohydrate, 29g chất xơ, 62g chất béo, 1.471mg natri</li>
                    </ul>
                </div>
                <div id="item-2-6">
                    <h3><strong>Ngày 6</strong></h3>
                    <ul>
                        <li>Bữa sáng: Bánh chuối + ½ cup việt quất (260 calo, 48g carbs). Công thức làm bánh chuối: Xay nhuyễn 2 quả trứng và 1 quả chuối, nướng bột trên chảo, cứ 2 thìa bột làm 1 chiếc bánh. Đây là món trong <strong>thực đơn Low Carb rẻ tiền</strong> mà ai cũng làm được.</li>
                    </ul>
                    <center><img class="mt-1 align-items-center img-fluid" src="http://127.0.0.1:8000/static/images/lowcarbs(11).jp}" alt=""></center>
                    <ul>
                        <li>Bữa phụ sáng: 28g phô mai (115 calo, 6g carbs).</li>
                        <li>Bữa trưa: Salad rau và thịt bò + 1 quả cam cỡ vừa (300 calo, 32g carbs).</li>
                        <li>Bữa phụ chiều: 1 quả táo cỡ vừa (95 calo, 25 g carbs).</li>
                        <li>Bữa tối: 112g ức gà sốt hummus + 340g súp lơ xanh xào phô mai (436 calo, 16g carbs). Bạn có thể mua sốt hummus ở các siêu thị hoặc các shop online cho <strong>thực đơn Low Carb ngon</strong>.</li>
                    </ul>
                    <center><img class="mt-1 align-items-center img-fluid" src="http://127.0.0.1:8000/static/images/lowcarbs(12).jp}" alt=""></center>
                    <ul>
                        <li>Tổng dinh dưỡng trong ngày: 1.206 calo, 81g protein, 123g carbohydrate, 22g chất xơ, 48g chất béo, 1.493mg natri</li>
                    </ul>
                </div>
                <div id="item-2-7">
                    <h3><strong>Ngày 7</strong></h3>
                    <ul>
                        <li>Bữa sáng: Bánh chuối + ½ cup việt quất (260 calo, 48g carbs).</li>
                        <li>Bữa phụ sáng: 2 quả mận (61 calo, 15g carbs).</li>
                        <li>Bữa trưa: Salad rau củ và trứng (436 calo, 21g carbs). 1 khẩu phần gồm 3 quả trứng luộc, 2 cọng cần tây băm nhỏ, 2-3 lá rau diếp lớn, 1 muỗng húng quế tươi xắt nhỏ, 2 củ cà rốt thái sợi, vài lá xà lách, sữa chua Hy Lạp, mayonnaise, mù tạt, muối và hạt tiêu.</li>
                        <li>Bữa phụ chiều: 8 quả hạnh nhân (62 calo, 2g carbs).</li>
                        <li>Bữa tối: Mì làm từ bí đỏ, cà chua, đậu và hạnh nhân (400 calo, 37g carbs). Có thể thay bằng các sản phẩm mì Low Carb khác.</li>
                    </ul>
                    <center><img class="mt-1 align-items-center img-fluid" src="http://127.0.0.1:8000/static/images/lowcarbs(13).jp}" alt=""></center>
                        <ul>
                            <li>Tổng dinh dưỡng trong ngày: 1.218 calo, 50g protein, 124g carbohydrate, 24g chất xơ, 65g chất béo, 1.198mg natri</li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}