{% extends "users/layouts/main.html" %}
{% load static %}
{% block title %}Giảm cân{% endblock %}
{% block menu %}active{% endblock %}
{% block content %}


<section class="p-3 p-lg-0 pt-lg-3 text-center text-sm-start">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <div class="block-heading">
                        <h1 class="text-center text-danger"><strong>THỰC ĐƠN GIẢM CÂN 800 - 1500 CALO</strong></h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-5">
            <h2 id="item-1" class="text-success">1. Thực đơn với 800 calo mỗi ngày</h2>
            <div class=" px-3">
                <div id="item-1-1">
                    <h3 class="text-danger"><strong>1.1 Ăn sáng</strong></h3>
                    <p><strong>Thực đơn giảm cân cho nữ</strong> trong bữa sáng trong thực đơn 800 calo một ngày bao gồm:</p>
                    <ul>
                        <li>2 quả trứng luộc</li>
                        <li>1 trái cam</li>
                        <li>1 tách bơ hoặc một cốc cafe</li>
                        <li>Một lát bánh mì</li>
                    </ul>
                </div>
                <div id="item-1-2">
                    <h3 class="text-danger"><strong>1.2 Ăn trưa</strong></h3>
                    <p><strong>Thực đơn giảm cân cho nữ</strong> trong bữa trưa trong thực đơn 800 calo một ngày bao gồm:</p>
                    <ul>
                        <li>2 chén cơm</li>
                        <li>Trứng xào mướp đắng</li>
                        <li>Canh cải và trái cây</li>
                    </ul>
                    <p>Đây là bữa ăn nhẹ nhàng có tác dụng cải thiện cơ thể cho người béo phì. Đặc biệt thực đơn này cũng dễ áp dụng và nhanh hiệu quả.</p>
                </div>
                <div id="item-1-3">
                    <h3 class="text-danger"><strong>1.3 Ăn tối</strong></h3>
                    <p>Về cơ bản nếu bạn muốn ăn uống vừa dinh dưỡng nhưng không gây béo vào buổi thì nên ăn uống thanh đạm, nhẹ nhàng. Vào buổi tối lượng calo nạp vào cơ thể nên được hạn chế bởi đây là thời điểm cơ thể không diễn ra nhiều hoạt động đốt cháy calo. Mặt khác nếu bạn ăn quá no hay quá nhiều chất dinh dưỡng vào buổi tối có thể dẫn đến nhiều vấn đề về sức khỏe</p>
                    <ul>
                        <li>Canh súp, cá hấp</li>
                        <li>Món luộc thanh đạm</li>
                        <li>Một ít cơm</li>
                        <li>Một ít trái cây</li>
                    </ul>
                    <center><img class="img-fluid pt-3" src="http://127.0.0.1:8000/static/images/1000_calo(1).jpg" alt=""></center>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 id="item-2" class="text-success">2. Thực đơn 1000 calo mỗi ngày</h2>
            <div class=" px-3">
                <p><strong>Thực đơn giảm cân sáng trưa tối</strong> với 1000 calo một ngày bao gồm:</p>
                <ul>
                    <li>Ăn sáng với một quả chuối, 2 lát bánh sandwich nhỏ đồng thời uống một ly nước cam tươi 200 ml.</li>
                    <li>Ăn giữa buổi với 100g hoa quả ít ngọt cùng hũ sữa chua.</li>
                    <li>Ăn trưa: Bạn ăn trưa với một cuộn bánh từ bột lúa mì 45g và ăn cùng với 70g cá ngừ đóng hộp và 10g mayonnaise loại ít calo. Salad rau quả gồm rau diếp, ớt ngọt màu đỏ hoặc vàng cùng với hành lá.</li>
                    <li>Ăn chiều: Một túi khoai tây chiên giòn có chất béo thấp.</li>
                    <li>Ăn tối: phần thịt ức gà không da, khoai tây nghiền với một ít sữa tách kem. Ăn thêm bông cải xanh hấp hoặc luộc, cùng với cà rốt luộc. Món salad ăn cùng với nước sốt từ các loại hạt.</li>
                    <li>Ăn vặt buổi tối với chocolate nóng là hợp lý nhất.</li>
                </ul>
                <center><img class="img-fluid pt-3" src="http://127.0.0.1:8000/static/images/1000_calo(3).jpg" alt=""></center>
            </div>
        </div>
        <div class="row">
            <h2 id="item-3" class="text-success">3. Thực đơn 1200 calo mỗi ngày</h2>
            <div class=" px-3">
                <div id="item-3-1">
                    <h3 class="text-danger"><strong>3.1. Thực đơn ít calo ngày 1</strong></h3>
                    <p><strong>Bữa sáng</strong></p>
                    <p>1 chén ngũ cốc nguyên cám được trộn chung với 1 cốc sữa chua không béo, 1 quả chuối,…</p>
                    <p><strong>Bữa trưa</strong></p>
                    <ul>
                        <li>110g cá bơn được nướng vàng với cà chua thái nhỏ và 2 muỗng phô mai bào</li>
                        <li>Món cá bơn được ăn kèm với măng tây nướng và một chén diêm mạch nấu chín</li>
                    </ul>
                    <p><strong>Buổi tối</strong></p>
                    <ul>
                        <li>Một miếng bánh sandwich kẹp với rau diếp, dưa chuột, 85g ức gà, 1 thìa mayonnaise.</li>
                        <li>Tráng miệng bằng 1 miếng kiwi</li>
                        <li>Tráng miệng với 1 ly bánh pudding không béo</li>
                    </ul>
                </div>
                <div id="item-3-2">
                    <h3 class="text-danger"><strong>3.2. Thực đơn ngày 2</strong></h3>
                    <p><strong>Bữa sáng</strong></p>
                    <ul>
                        <li>Sinh tố đá xay với ½ quả chuối</li>
                        <li> 230 ml sữa không béo</li>
                        <li>1 phần berries đông lạnh</li>
                        <li>2 muỗng Whey Protein.</li>
                    </ul>
                    <p><strong>Bữa trưa</strong></p>
                    <p>1 chén súp rau chay ăn kèm với 1 burger chay và tráng miệng với 1 chén nho</p>
                    <p><strong>Buổi tối</strong></p>
                    <ul>
                        <li>110g ức gà không da được ướp với sốt thịt nướng.</li>
                        <li>2 chén rau bina xào tỏi trộn chung với dầu ô liu và cà chua.</li>
                        <li>Bạn có thể ăn kèm theo khoai tây nướng hoặc khoai lang.</li>
                    </ul>
                    <center><img class="img-fluid pt-3" src="http://127.0.0.1:8000/static/images/1000_calo(4).jpg" alt=""></center>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 id="item-4" class="text-success">4. Thực đơn 1500 calo mỗi ngày</h2>
            <div class=" px-3">
                <div id="item-4-1">
                    <h3 class="text-danger"><strong>4.1 Ăn sáng</strong></h3>
                    <ul>
                        <li>2 quả trứng rán với 1 thìa uống trà dầu dừa</li>
                        <li> ½ cốc rau diếp</li>
                        <li>Khoảng 28 gam phomat mặn kiểu Hy Lạp</li>
                        <li>1 lát bánh mì ngũ cốc nguyên hạt</li>
                    </ul>
                    <p>Sau đó bạn ăn nhẹ với:</p>
                    <ul>
                        <li>1 cốc Sữa chua Hy Lạp không đường ít béo</li>
                        <li>1 cốc quả mọng tươi</li>
                        <li>10 hạt hạnh nhân không rang muối</li>
                    </ul>
                </div>
                <div id="item-4-2">
                    <h3 class="text-danger"><strong>4.2. Bữa trưa</strong></h3>
                    <ul>
                        <li>1 cốc rau diếp romaine</li>
                        <li>1 cốc rau củ quả không chứa tinh bột chẳng hạn như bông cải xanh, ớt chuông cà chua, , dưa chuột,…</li>
                        <li>Khoảng 85 gram thịt gà nướng</li>
                        <li>2 thìa súp nước sốt giấm balsamic</li>
                        <li>1 quả táo</li>
                    </ul>
                    <p>Ăn nhẹ</p>
                    <ul>
                        <li>10 quả cà rốt nhỏ</li>
                        <li>2 thìa súp sốt hummus</li>
                    </ul>
                </div>
                <div id="item-4-3">
                    <ul>
                        <li>Khoảng 113 gram cá hồi</li>
                        <li>1 quả khoai lang cỡ vừa</li>
                        <li>½ cốc rau củ hấp</li>
                        <li>1 thìa uống trà dầu oliu</li>
                    </ul>
                    <p>Bạn kết thúc một ngày ăn kiêng với 1 góc vuông của thanh sôcôla đắng</p>
                    <center><img class="img-fluid pt-3" src="http://127.0.0.1:8000/static/images/1000_calo(2).jpg" alt=""></center>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}