{% extends "users/layouts/main.html" %}
{% load static %}
{% block title %}Giảm cân{% endblock %}
{% block menu %}active{% endblock %}
{% block content %}

<section class="p-3 p-lg-0 pt-lg-3 text-center text-sm-start">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <div class="block-heading">
                        <h1 class="text-center text-danger"><strong> THỰC ĐƠN GIẢM CÂN CHO NỮ HÀNG NGÀY NGON MIỆNG DỄ THỰC HIỆN</strong></h1>
                    </div>
                </div>
            </div>
        </div>
        <p>Đừng để ước mơ sở hữu vòng eo thon gọn của mình mãi chìm vào dĩ vãng. Với thực đơn giảm cân cho nữ mà Elipsport gửi đến bạn ngày trong bài viết sau sẽ giúp ích được bạn rất nhiều trên chặng đường giảm cân, giảm mỡ cho eo thon, lấy lại vóc dáng thon gọn như mơ.</p>
        <div class="container">
            <div class="mx-3">
                <h3>1. Thực đơn giảm cân cho nữ mới bắt đầu</h3>
                <p>Thiết lập mục tiêu giảm cân có khoa học và an toàn vừa giúp bạn đạt kết quả được như mong muốn mà còn cải thiện sức khỏe rất nhiều. Một thực đơn giảm cân tối ưu phải cần được chú ý những điều sau:</p>
                <h4 class="mx-3">Buổi sáng</h4>
                <p>Buổi sáng là thời điểm bụng của bạn đang chưa có bất kỳ thứ gì, nên việc nạp vào thức ăn lúc này là vô cùng cần thiết và quan trọng. Những món ăn có thể chế biến cho thực đơn giảm cân cho nữ của mình là khoai lang luộc, bắp luộc, đậu que, gạo lứt, thịt gà xé, súp lơ, bánh mì…</p>
                <h4 class="mx-3">Buổi trưa </h4>
                <p>Buổi trưa là thời điểm khá quan trọng, bạn cũng nên kết hợp hài hòa những thực phẩm giàu chất dinh dưỡng, không gây tăng cân trong thực đơn giảm cân cho nữ nhưng tạo cảm giác no lâu như trứng luộc, cơm, đậu que, gạo lứt, thịt gà, thịt bò, củ cải, chả cá… để giúp giảm cân tốt hơn.</p>
                <h4 class="mx-3">Buổi tối </h4>
                <p>Nhiều người quan niệm rằng không nên ăn vào buổi tối, vì đây là thời điểm cơ thể ít vận động, dễ gây tăng cân. Điều này đúng nếu như bạn lựa chọn những loại món ăn chứa nhiều chất béo như thức ăn nhanh, nhưng nếu ăn những thực phẩm tốt nên có mặt trong thực đơn giảm cân như rau luộc, cá, thịt luộc, nấm, ớt chuông, măng tây, rau củ trộn…thì bạn vẫn có thể kiểm soát cân nặng của mình hiệu quả.</p>
                <center><img class="img-fluid p-3" src="http://127.0.0.1:8000/static/images/lost_gain(2).jpg" alt=""></center>
                <h3>2. Các loại thực phẩm nên có trong thực đơn giảm cân cho nữ</h3>
                <h4 class="mx-3 text-danger mt-3">Khoai lang</h4>
                <p>
                    Khoai lang được xem là “thần dược” trong thực đơn giảm cân cho nữ của bạn, chúng giúp giảm cân an toàn, mà lại còn làm đẹp da. Nhiều người cũng lựa chọn thực phẩm này để ăn thay thế cho khẩu phần ăn bữa sáng để giảm mỡ bụng vì chúng chứa ít chất béo và cholesterol, tránh việc tích tụ mỡ thừa trong cơ thể.
                </p>
                <center><img class="img-fluid p-3" src="http://127.0.0.1:8000/static/images/lost_gain(3).jpg" alt=""></center>
                <h4 class="mx-3 text-danger mt-3">Yến mạch</h4>
                <p>
                    Từ lâu yến mạch luôn xuất hiện trong thực đơn giảm cân hằng ngày của nhiều người, vì đây là loại ngũ cốc không chứa tinh bột hay đường gây tăng cân. Ngoài ra, trong yến mạch rất giàu chất xơ và protein đều là những thành phần có lợi cho việc giảm cân.
                </p>
                <center><img class="img-fluid p-3" src="http://127.0.0.1:8000/static/images/lost_gain(4).jpg" alt=""></center>
                <h4 class="mx-3 text-danger mt-3">Gạo lứt</h4>
                <p>
                    Thay thế gạo lứt cho gạo trắng trong thực đơn giảm cân cho nữ của bạn giúp ích rất nhiều cho việc giảm cân. Vì chúng giàu chất xơ, giúp duy trì năng lượng hoạt động hiệu quả.
                </p>
                <h4 class="mx-3 text-danger mt-3">Cần tây</h4>
                <p>
                    Nhiều người mách nhau rằng hãy ép nước cần tây uống kèm với những món ăn khác trong thực đơn giảm cân của mình để giảm mỡ. Điều này hoàn toàn đúng, vì trong rau cần chứa nhiều loại vitamin cần thiết và tốt cho cơ thể, chưa kể loại rau này còn giúp loại bỏ lượng cholesterol trong máu, chống lại bệnh thiếu máu rất tốt.
                </p>
                <h4 class="mx-3 text-danger mt-3">Đậu đen </h4>
                <p>
                    Đây là loại hạt giàu thành phần anthocyanin, một trong những yếu tố giúp loại bỏ chất béo ra khỏi cơ thể của bạn. Nhiều bạn nữ đã cho đậu đen vào thực đơn giảm cân hằng ngày của mình để vừa kiểm soát cân nặng tốt vừa làm đẹp da và thanh lọc cơ thể. 
                </p>
                <h4 class="mx-3 text-danger mt-3">Chuối  </h4>
                <p>
                    Chuối được xem như là một loại trái cây giàu chất xơ, ít calo nên chắc chắn sẽ không khiến bạn bị tăng cân. Cách cho vào thực đơn giảm cân đơn giản với chuối mà nên áp dụng trong  bữa sáng của mình là ăn chuối kết hợp với uống một ly nước ấm.  
                </p>
                <center><img class="img-fluid p-3" src="http://127.0.0.1:8000/static/images/lost_gain(5).jpg" alt=""></center>
                <h4 class="mx-3 text-danger mt-3">Trà Xanh</h4>
                <p>
                    Trà xanh là một loại thức uống giàu chất chống oxy hóa, giúp hỗ trợ việc giảm cân tối ưu nhất. Bạn có thể kết hợp nước trà xanh với chanh, mật ong trong thực đơn giảm cân để gia tăng vị khi uống. Tốt nhất nên uống trà vào buổi sáng, đây là thời điểm vàng giúp bạn giảm quá trình hấp thụ chất béo từ thức ăn.  
                </p>
                <h2 class="mx-3">3. Bí quyết giảm cân an toàn cho nữ</h2>
                <h3 class="mx-2">3.1. Cân nhắc số calories sẽ nạp vào cơ thể hằng ngày</h3>
                <p>
                    Thực đơn giảm cân cho nữ hợp lý của bạn phải được dựa trên nhu cầu của cơ thể, với nam giới cần nạp khoảng 1800-2500 kcal/ ngày, còn nữ giới thì rơi vào ngưỡng thấp hơn khoảng 1300-1700 kcal/ ngày. 
                </p>
                <p>
                    Đó là tiêu chuẩn tham khảo, tất cả còn tùy thuộc vào hoạt động thể chất hằng ngày của bạn. Chẳng hạn như đối với những người chơi thể thao phải vận động cường độ mạnh thì chắc chắn lượng calories cần nạp vào mỗi ngày sẽ nhỉnh hơn mức cần thiết của người bình thường không vận động.  Vì vậy cần vạch ra thực đơn giảm cân với các món ăn cần thiết tránh gây thiếu hụt nặng cho cơ thể.
                </p>
                <p>
                    Ngoài ra, cân nặng cũng phụ thuộc vào lượng calo nạp vào ít hơn lượng tiêu thụ, bạn nên xây dựng thực đơn giảm cân đúng cách, cân nhắc với việc tập luyện thể dục để sớm có được kết quả như ý muốn.
                </p>
                <h3 class="mx-2">3.2. Chuẩn bị thực đơn giảm cân </h3>
                <p>
                    Mỗi tuần bạn hãy vạch ra cụ thể những loại thực phẩm bạn sẽ cho vào thực đơn giảm cân, để có cái nhìn bao quát trong việc lựa chọn món ăn, tránh bị trùng lặp quá nhiều. Đừng để mỗi ngày bạn phải chống cằm suy nghĩ xem hôm nay ăn gì? như thế sẽ khó theo dõi được thực đơn giảm cân để kiểm soát cân nặng hiệu quả.
                </p>
                <h3 class="mx-2">3.3. Tăng cường các thực phẩm có lợi cho việc giảm cân</h3>
                <p>
                    Chất xơ có trong rau xanh luôn là thành phần dinh dưỡng cần thiết không thể thiếu vắng trong thực đơn giảm cân của bạn. Vì chúng chứa rất ít calo nhưng lại tạo cho bạn cảm giác no dai, giảm sự thèm ăn. 
                </p>
                <p>
                    Bên cạnh đó, protein có trong các loại thịt trắng đóng vai trò quan trọng trong việc duy trì năng lượng cho cơ thể, và giúp bạn no lâu hơn. Những loại thực phẩm như ức gà, cá hồi. yến mạch...đều hỗ trợ bạn giảm cân rất tốt.
                </p>
                <h3 class="mx-2">3.4. Những thực phẩm tránh ăn để giảm cân</h3>
                <p>
                    Thực đơn giảm cân cho nữ của bạn cần loại bỏ những món ăn sau: 
                </p>
                <ul>
                    <li>Tim, gan, thận là những thực phẩm chứa nhiều cholesterol</li>
                    <li>
                        Kẹo, nước ngọt là những thực phẩm ngọt chứa nhiều đường 
                    </li>
                    <li>
                        Rượu, bia hay cà phê là những chất kích thích cần được loại bỏ khỏi thực đơn giảm cân của bạn
                    </li>
                </ul>
                <h3 class="mx-2">3.5. Chia nhỏ bữa ăn trong ngày</h3>
                <p>
                    Nhiều bạn vẫn có suy nghĩ sai lầm rằng, ăn càng ít sẽ dễ giảm cân hơn, nhưng thực sự điều đó không đúng. Bạn hãy vạch ra thực đơn giảm cân đúng cách và kết hợp với việc chia nhỏ bữa ăn đều đặn trong ngày, điều này sẽ giúp bạn duy trì đủ năng lượng để làm việc nhưng không phải ăn quá nhiều. Bởi vì, để bụng trống rỗng rồi cố gắng vượt qua cơn đói sẽ khiến bạn bị kiệt sức, về lâu dài ảnh hưởng xấu đến sức khỏe là điều chắc chắn.
                </p>
                <center><img class="img-fluid p-3" src="http://127.0.0.1:8000/static/images/lost_gain(6).jpg" alt=""></center>
            </div>
        </div>
    </div>
</section>
{% endblock %}