{% extends "users/layouts/main.html" %}
{% load static %}
{% block title %}Giảm cân{% endblock %}
{% block menu %}active{% endblock %}
{% block content %}


<section class="p-3 p-lg-0 pt-lg-3 text-center text-sm-start">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <div class="block-heading">
                        <h1 class="text-center text-primary"><strong>THỰC ĐƠN EAT CLEAN RẺ CHO HỌC SINH, SINH VIÊN GIẢM CÂN HIỆU QUẢ</strong></h1>
                    </div>
                </div>
            </div>
        </div>
        <p>
            Trên các trang web và mạng xã hội,  “Eat Clean”, “Clean Eating” đang là những từ khóa được nhắc đến nhiều nhất mỗi khi có topic về ăn sạch, ăn kiêng, giảm cân... Ngoài những lợi ích cho sức khỏe, chế độ ăn Eat Clean còn được biết đến như một phương thức ăn kiêng dễ dàng, hiệu quả nên được hàng triệu người áp dụng.
        </p>
        <p>
            Nếu bạn là học sinh, sinh viên có kinh phí eo hẹp, đang lo lắng làm sao để có một thực đơn Eat Clean rẻ nhưng vẫn đảm bảo đủ chất, ăn không bị ngán thì đừng bỏ qua bài viết “Thực đơn Eat Clean rẻ cho học sinh, sinh viên giảm cân hiệu quả” này nhé!
        </p>
        <div class="container">
            <div class="mx-3"></div>
            <h2>Thực đơn ngày 1</h2>
            <center><img class="img-fluid p-3" src="http://127.0.0.1:8000/static/images/eat_clean(1).jpg" alt=""></center>
            <p><strong>Bữa sáng (6h - 7h):</strong> Sinh tố chuối</p>
            <ul>
                <li>
                    2 quả chuối
                </li>
                <li>
                    1 hộp sữa chua
                </li>
                <li>
                    30g lạc rang
                </li>
                <li>
                    5g bơ lạc
                </li>
                <li>
                    2 thìa cà phê mật ong
                </li>
                <li>
                    2 thìa cà phê sữa đặc
                </li>
            </ul>
            <p><strong>Bữa trưa (12h - 13h):</strong> Salad đậu đũa cà chua</p>
            <ul>
                <li>
                    100g đậu đũa
                </li>
                <li>
                    50g cà chua
                </li>
                <li>
                    50g hành tây
                </li>
                <li>
                    2 thìa cà phê dầu olive
                </li>
                <li>
                    1 thìa cà phê giấm táo
                </li>
                <li>
                    1 chút muối và tiêu đen
                </li>
            </ul>
            <p><strong>Bữa chiều (15h - 16h):</strong> Cà rốt luộc</p>
            <ul>
                <li>
                    200g cà rốt
                </li>
                <li>
                    2 thìa mayonnaise
                </li>
            </ul>
            <p><strong>Bữa tối (18h - 19h):</strong> Miến trộn gà (300kcal)</p>
            <ul>
                <li>
                    100g thịt ức gà
                </li>
                <li>
                    50g miến
                </li>
                <li>
                    10g lạc rang
                </li>
                <li>
                    Rau gia vị
                </li>
                <li>
                    2 thìa cà phê nước tương
                </li>
                <li>
                    1 thìa cà phê giấm táo
                </li>
            </ul>
            <p><strong>Bữa đêm (21h - 22h):</strong> 1 quả táo chín (khoảng 200g - 300g)</p>
            <h2>Thực đơn ngày 2</h2>
            <center><img class="img-fluid p-3" src="http://127.0.0.1:8000/static/images/eat_clean(2).jpg" alt=""></center>
            <p><strong>Bữa sáng (6h - 7h):</strong> Sữa chua xoài</p>
            <ul>
                <li>
                    1 quả xoài chín
                </li>
                <li>
                    1 hộp sữa chua
                </li>
            </ul>
            <p><strong>Bữa trưa (12h - 13h):</strong> Salad rau mầm</p>
            <ul>
                <li>
                    50g rau mầm
                </li>
                <li>
                    20g cà rốt
                </li>
                <li>
                    1 quả trứng gà
                </li>
                <li>
                    2 thìa cà phê dầu mè
                </li>
                <li>
                    1 thìa cà phê đường
                </li>
                <li>
                    1 thìa cà phê giấm táo
                </li>
            </ul>
            <p><strong>Bữa chiều (15h - 16h):</strong> Bơ - chanh</p>
            <ul>
                <li>
                    1 quả bơ
                </li>
                <li>
                    1 quả chanh
                </li>
            </ul>
            <p><strong>Bữa tối (18h - 19h):</strong> Beefsteak</p>
            <ul>
                <li>
                    100g thịt bò
                </li>
                <li>
                    30g súp lơ
                </li>
                <li>
                    30g cà rốt
                </li>
                <li>
                    Một ít muối, tiêu, tỏi, lá thyme khô
                </li>
            </ul>
            <p><strong>Bữa đêm (21h - 22h):</strong> 300 ml sữa chocolate</p>
            <h2>Thực đơn ngày 3</h2>
            <center><img class="img-fluid p-3" src="http://127.0.0.1:8000/static/images/eat_clean(3).jpg" alt=""></center>
            <p><strong>Bữa sáng (6h - 7h):</strong> Cháo yến mạch mận chín</p>
            <ul>
                <li>
                    30g yến mạch
                </li>
                <li>
                    2 thìa cà phê mật ong
                </li>
                <li>
                    2 - 3 quả mận chín
                </li>
            </ul>
            <p><strong>Bữa trưa (12h - 13h):</strong> Salad gà ngô</p>
            <ul>
                <li>
                    150g ức gà
                </li>
                <li>
                    50g ngô ngọt
                </li>
                <li>
                    50g cà chua bi
                </li>
                <li>
                    50g xà lách
                </li>
                <li>
                    1 thìa cà phê mật ong
                </li>
                <li>
                    1 thìa cà phê giấm táo
                </li>
            </ul>
            <p><strong>Bữa chiều (15h - 16h):</strong> Salad cà chua</p>
            <ul>
                <li>
                    100g cà chua
                </li>
                <li>
                    20g húng quế
                </li>
                <li>
                    2 thìa cà phê giấm táo
                </li>
                <li>
                    1 ít muối và tiêu
                </li>
            </ul>
            <p><strong>Bữa tối (18h - 19h):</strong> Taco cải thảo</p>
            <ul>
                <li>
                    150g ức gà
                </li>
                <li>
                    50g bơ
                </li>
                <li>
                    50g xoài chín
                </li>
                <li>
                    30g cải thảo
                </li>
                <li>
                    20g cà chua
                </li>
                <li>
                    1 thìa cà phê giấm táo
                </li>
                <li>
                    2 thìa cà phê dầu olive
                </li>
                <li>
                    1 ít muối và tiêu
                </li>
            </ul>
            <p><strong>Bữa đêm (21h - 22h):</strong> Sữa chua hoa quả</p>
            <ul>
                <li>
                    30g xoài chín
                </li>
                <li>
                    30g bơ
                </li>
                <li>
                    30g dưa hấu
                </li>
                <li>
                    30g mận chín
                </li>
                <li>
                    1 hộp sữa chua
                </li>
            </ul>
            <h2>Thực đơn ngày 4</h2>
            <center><img class="img-fluid p-3" src="http://127.0.0.1:8000/static/images/eat_clean(4).jpg" alt=""></center>
            <p><strong>Bữa sáng (6h - 7h):</strong> Trứng chiên phô mai</p>
            <ul>
                <li>
                    2 quả trứng gà
                </li>
                <li>
                    10g phô mai parmesan
                </li>
                <li>
                    1 ít nước mắm, tiêu, hành lá
                </li>
            </ul>
            <p><strong>Bữa trưa (12h - 13h):</strong>  Salad đậu cô ve</p>
            <ul>
                <li>
                    100g đậu cô ve
                </li>
                <li>
                    30g cà rốt
                </li>
                <li>
                    50g hải sản (cua, mực, tôm,...)
                </li>
                <li>
                    2 thìa cà phê nước tương
                </li>
                <li>
                    1 ít muối, tiêu, vừng
                </li>
                
            </ul>
            <p><strong>Bữa chiều (15h - 16h):</strong> Sinh tố chuối xoài</p>
            <ul>
                <li>
                    50g xoài chín
                </li>
                <li>
                    1 quả chuối chín
                </li>
                <li>
                    100ml sữa tươi không đường
                </li>
                
            </ul>
            <p><strong>Bữa tối (18h - 19h):</strong> Gà nướng rau quả</p>
            <ul>
                <li>
                    200g thịt ức gà
                </li>
                <li>
                    50g cà tím
                </li>
                <li>
                    50g hành tây
                </li>
                <li>
                    50g cà rốt
                </li>
                <li>
                    50g táo
                </li>
                <li>
                    Nước mắm, tiêu, dầu hào, dầu olive
                </li>
            </ul>
            <p><strong>Bữa đêm (21h - 22h):</strong> 1 quả táo</p>
            <ul>
                <li>
                    30g xoài chín
                </li>
                <li>
                    30g bơ
                </li>
                <li>
                    30g dưa hấu
                </li>
                <li>
                    30g mận chín
                </li>
                <li>
                    1 hộp sữa chua
                </li>
            </ul>
        </div>

    </div>
</section>
{% endblock %}