{% extends "users/layouts/main.html" %}
{% load static %}
{% block title %}Giảm cân{% endblock %}
{% block menu %}active{% endblock %}
{% block content %}


<section class="p-3 p-lg-0 pt-lg-3 text-center text-sm-start">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <div class="block-heading">
                        <h1 class="text-center text-primary"><strong>THỰC ĐƠN GIẢM CÂN 7 NGÀY "CHUẨN" KHOA HỌC (GIẢM 2KG/TUẦN)</strong></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h2 class="text-danger mt-3 text-center">NGUYÊN TẮC LÊN THỰC ĐƠN GIẢM CÂN</h2>
            <div class="mx-3 mt-3">
                <h3><strong>Nguyên tắc 1: Tổng calo nạp vào nhỏ hơn calo tiêu thụ</strong></h3>
                <p>
                    Calo nạp vào là lượng calo bạn có được từ thực phẩm sau khi ăn, trong khi calo tiêu thụ là lượng calo mà bạn sẽ đốt cháy. Để giảm cân hiệu quả, chúng ta cần phải điều chỉnh mức calo nạp vào mỗi ngày nhỏ hơn lượng calo chúng ta tiêu thụ.
                </p>
                <center><img class="img-fluid p-3" src="http://127.0.0.1:8000/static/images/lost_gain(7).jpg" alt=""></center>
                <h3><strong>Nguyên tắc 2: Chia nhỏ bữa ăn trong ngày</strong></h3>
                <p>
                    Việc chia nhỏ bữa ăn là cần thiết đối với người thừa cân. Bởi lẽ trên thực tế, người mập thường ăn nhiều hơn người có trọng lượng cân đối.
                </p>
                <center><img class="img-fluid p-3" src="http://127.0.0.1:8000/static/images/lost_gain(18.jpg' alt=""></center>
                <p>
                    Khoảng cách giữa 2 bữa chính là khoảng 5 - 6 tiếng – một khoảng thời gian khá dài. Nếu phải nhịn ăn suốt thời gian này, người thừa cân sau đó sẽ ăn lại rất nhiều để thỏa "chiếc bụng đói" của họ. Do đó, lượng calo họ nạp vào lại quá mức cho phép và dẫn đến tích tụ mỡ thừa.
                </p>
                <h3><strong>Nguyên tắc 3: Ăn thực phẩm ít tinh bột, nhiều xơ, giàu protein</strong></h3>
                <p>
                    Để giảm cân nhanh, mà vẫn đảm bảo cho cơ thể được khỏe mạnh và hoạt động bình thường, bạn nên tập trung ăn các thực phẩm có ít tinh bột, nhiều xơ và giàu protein.
                </p>
                <center><img class="img-fluid p-3" src="http://127.0.0.1:8000/static/images/lost_gain(9).jpg" alt=""></center>
                <p>
                    Đối với tinh bột (Carbohydrate), 1g tinh bột có thể đem đến 4 calo do vậy người trưởng thành chỉ cần ăn nguyên 500g tinh bột là có đủ năng lượng để hoạt động cả ngày. Việc ăn quá nhiều tinh bột chính là nguyên nhân tích mỡ trong cơ thể.
                </p>
                <p>
                    Chất đạm - protein cũng cần được chú ý nếu muốn thiết lập một thực đơn hiệu quả cho việc giảm cân. 1g protein cũng có thể cung cấp 4 calo, thế nhưng bạn sẽ cần thời gian lâu hơn để tiêu hóa (khoảng 4 tiếng). Điều này giúp chúng ta no lâu hơn, giảm cảm giác thèm ăn.
                </p>
                <center><img class="img-fluid p-3" src="http://127.0.0.1:8000/static/images/lost_gain(10).jpg" alt=""></center>
                <p>
                    Chất xơ có thể thấy trong hầu hết các loại rau củ. Theo các chuyên gia dinh dưỡng, chất xơ có tác dụng làm tinh bột lưu lại lâu hơn trong dạ dày, tạo cảm giác no lâu. Và làm chậm quá trình phân giải, hấp thu Glucose, giúp điều hòa được lượng đường huyết. Để giảm cân nhanh nhất, đối với nam giới, nên ăn 38g chất xơ trong khi phụ nữ là 25g trong 1 ngày.
                </p>
            </div>
            <h2 class="text-danger">CHI TIẾT THỰC ĐƠN GIẢM CÂN KHOA HỌC TRONG 7 NGÀY</h2>
            <div class="mx-3 mt-3">
                <p>Thực đơn ăn kiêng dưới đây, bao gồm các món ăn giảm cân đã được giới chuyên gia kiểm chứng. Chúng vừa có khả năng hỗ trợ giảm cân hiệu quả cao mà vẫn đảm bảo được dinh dưỡng cho hoạt động hàng ngày. </p>
                <h3><strong>Thứ hai và thứ năm </strong></h3>
                <center><img class="img-fluid p-3" src="http://127.0.0.1:8000/static/images/lost_gain(11).jpg" alt=""></center>
                <ul>
                    <li>
                        Bữa sáng: 1 bát ngũ cốc, 1 quả chuối và 180ml sữa tươi không đường
                    </li>
                    <li>
                        Ăn nhẹ 1: 1 – 2 quả táo
                    </li>
                    <li>
                        Bữa trưa: Cơm gạo lứt, ức gà, rau củ
                    </li>
                    <li>
                        Ăn nhẹ 2: Nho
                    </li>
                    <li>
                        Bữa tối: 150g hải sản luộc, rau xanh luộc
                    </li>
                </ul>
                <p>Thực đơn trên có tổng nạp khoảng: 913 calo</p>
                <h3><strong>Thứ ba và thứ sáu  </strong></h3>
                <center><img class="img-fluid p-3" src="http://127.0.0.1:8000/static/images/lost_gain(12).jpg" alt=""></center>
                <ul>
                    <li>
                        Bữa sáng: 2 quả trứng ốp la, bánh mì đen, salad
                    </li>
                    <li>
                        Ăn nhẹ 1: Tùy thích (trừ thực phẩm cần tránh)
                    </li>
                    <li>
                        Bữa trưa: Thịt luộc cuốn rau sống
                    </li>
                    <li>
                        Ăn nhẹ 2: Tùy thích (trừ thực phẩm cần tránh)
                    </li>
                    <li>
                        Bữa tối: Cơm gạo lứt, thịt luộc, rau xanh
                    </li>
                </ul>
                <p>Thực đơn trên có tổng nạp khoảng: 1026 calo</p>
                <h3><strong>Thứ tư và thứ bảy   </strong></h3>
                <center><img class="img-fluid p-3" src="http://127.0.0.1:8000/static/images/lost_gain(13).jpg" alt=""></center>
                <ul>
                    <li>
                        Bữa sáng: 1 củ khoai lang luộc, 1 quả trứng, rau luộc
                    </li>
                    <li>
                        Ăn nhẹ 1: Dưa chuột
                    </li>
                    <li>
                        Bữa trưa: Cơm gạo lứt (cuộn rong biển), dưa leo, cà rốt
                    </li>
                    <li>
                        Ăn nhẹ 2: Salad trái cây
                    </li>
                    <li>
                        50g cá hồi áp chảo, salad rau trộn
                    </li>
                </ul>
                <p>Thực đơn trên có tổng nạp khoảng: 679,5 calo</p>
                <h3><strong>Chủ nhật ăn uống thoải mái</strong></h3>
                <p>Nếu như bạn quá khắt khe với bản thân trong suốt một tuần, bạn sẽ cảm thấy việc ăn kiêng giảm cân như cực hình và nguy cơ đổ vỡ kế hoạch khá cao. Việc dành ra chủ nhật để ăn một số món “khoái khẩu” sẽ giúp bạn cảm thấy dễ chịu hơn giúp duy trì được lâu dài. Tuy nhiên, nên giới hạn tổng nạp calo tối đa trong khoảng 1500 calo.</p>
                <center><img class="img-fluid p-3" src="http://127.0.0.1:8000/static/images/lost_gain(14).jpg" alt=""></center>
                <p>
                    Các chuyên gia y tế cho biết, giảm 15400 calo sẽ giúp bạn giảm được 2 kg. Tương đương mỗi ngày bạn phải có mức calo tiêu thụ (TDEE) cao hơn mức calo nạp vào là 2200 calo, thì sau một tuần bạn sẽ giảm được 2kg.
                </p>
                <p>
                    Tuy nhiên, theo như khuyến cáo, nếu muốn giảm cân đều đặn mà vẫn đảm bảo sức khỏe thì bạn chỉ nên giảm 0.45 kg/1 tuần (tức giảm 3465 calo/tuần).
                </p>
                <center><img class="img-fluid p-3" src="http://127.0.0.1:8000/static/images/lost_gain(15).jpg" alt=""></center>
            </div>
            <h2 class="text-danger">UỐNG GÌ ĐỂ GIẢM CÂN</h2>
            <p>Để có một thực đơn giảm cân khoa học đúng chuẩn, chúng ta nên kết hợp sử dụng thêm các loại nước ép dưới đây. Chúng không chỉ giúp cân nặng giảm thiểu rõ rệt mà còn đem lại cho ta một làn da mịn màng, căng bóng.</p>
            <div class="mx-3 mt-3">
                <h3>1. Nước cần tây</h3>
                <center><img class="img-fluid p-3" src="http://127.0.0.1:8000/static/images/lost_gain(16).jpg" alt=""></center>
                <p>
                    Đây là một loại thực phẩm thường xuyên xuất hiện trong các thực đơn giảm cân nhanh. Các dưỡng chất có trong cần tây, tác động trực tiếp, giúp tiêu hao lượng mỡ thừa trên cơ thể. Nghiên cứu gần đây cũng cho thấy, việc sử dụng cần tây thường xuyên trong bữa ăn giúp giảm từ 2 – 3kg chỉ trong 1 tháng. 
                </p>
                <h3>2. Nước ép bưởi</h3>
                <center><img class="img-fluid p-3" src="http://127.0.0.1:8000/static/images/lost_gain(17).jpg" alt=""></center>
                <p>
                    Bưởi có thành phần chính là vitamin C, chất xơ và các loại carbohydrate tự nhiên. Các chất này, khi kết hợp cùng với protein sẽ giúp tăng cường đốt cháy chất béo, ngưng lại sự tích tụ của mỡ thừa. Nên sử dụng 3 cốc nước ép bưởi mỗi ngày nếu bạn đang muốn giảm cân cấp tốc.
                </p>
                <h3>3. Nước ép dứa</h3>
                <center><img class="img-fluid p-3" src="http://127.0.0.1:8000/static/images/lost_gain(19).jpg" alt=""></center>
                <p>
                    Nước ép dứa, chứa hàm lượng axit hữu cơ cao, cùng lượng lớn vitamin A và B1. Sử dụng từ 1 – 2 cốc nước ép dứa mỗi ngày sẽ giúp tạo ra cảm giác no lâu, giảm cảm giác thèm ăn.
                </p>
                <h3>4. Nước ép cà chua</h3>
                <center><img class="img-fluid p-3" src="http://127.0.0.1:8000/static/images/lost_gain(18).jpg" alt=""></center>
                <p>
                    Nước ép dứa, chứa hàm lượng axit hữu cơ cao, cùng lượng lớn vitamin A và B1. Sử dụng từ 1 – 2 cốc nước ép dứa mỗi ngày sẽ giúp tạo ra cảm giác no lâu, giảm cảm giác thèm ăn.
                </p>
                <h3>5. Nước ép ổi</h3>
                <center><img class="img-fluid p-3" src="http://127.0.0.1:8000/static/images/lost_gain(20).jpg" alt=""></center>
                <p>
                    Ổi là một loại trái cây phổ biến và được nhiều người ưa thích. Bởi vì nó chứa rất nhiều các loại vitamin và khoáng chất tốt cho cơ thể như vitamin A, kali, mangan,...
                </p>
                <p>
                    Đặc biệt, trong ổi chứa hàm lượng vitamin C cao hơn cả ớt chuông, chanh, cam. Mặc dù lượng calo từ loại quả này rất thấp, nhưng ổi lại chứa một lượng chất xơ khá cao, nên đây được coi là loại thực phẩm giảm cân lý tưởng cho các chị em phụ nữ.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}