{% extends "users/layouts/main.html" %}
{% load static %}
{% block title %}Fruit{% endblock %}
{% block menu %}active{% endblock %}
{% block content %}

<section class="p-3 p-lg-0 pt-lg-3 text-center text-sm-start">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <div class="block-heading">
                        <h1 class="text-center text-danger"><strong>NHỮNG LOẠI TRÁI CÂY CẦN BỔ SUNG VÀO CHẾ ĐỘ ĂN UỐNG</strong></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h2>1. Siêu trái cây là gì ?</h2>
            <p>
                Trái cây chứa nhiều vitamin, khoáng chất, chất xơ và các hợp chất thực vật được gọi là dinh dưỡng thực vật. Do đó, chúng là một trong những thực phẩm lành mạnh nhất mà chúng ta có thể ăn. Một số loại trái cây thậm chí còn được coi là “siêu trái cây” do chúng chứa quá nhiều lợi ích cho sức khỏe. Mặc dù không có định nghĩa chính xác về những gì cấu thành siêu trái cây nhưng chúng thường rất giàu các hợp chất tăng cường sức khỏe với các đặc tính chống oxy hóa và chống viêm.
            </p>
            <p>
                Nhiều loại trái cây đã được nghiên cứu về tác dụng đối với sức khỏe. Tuy nhiên, một số loại trái cây lại nổi bật nhờ hàm lượng chất dinh dưỡng mạnh mẽ và những lợi ích liên quan. Dưới đây là 25 siêu trái cây bạn có thể cân nhắc để thêm vào chế độ ăn uống của mình.
            </p>
            <h2>2. Trái cây bổ sung </h2>
            <div class="mx-5">
                <h3>2.1. Quả mận</h3>
                <p>
                    Ngoài hương vị dễ chịu, mận còn cung cấp hàm lượng cao các vitamin, khoáng chất và các hợp chất thực vật bảo vệ sức khỏe. Chúng đặc biệt giàu axit hydroxycinnamic, là một loại chất chống oxy hóa polyphenol. Bằng cách giảm tổn thương tế bào gây ra bởi các phân tử không ổn định được gọi là gốc tự do, chất chống oxy hóa có thể làm giảm nguy cơ mắc các bệnh khác nhau.
                </p>
                <p>
                    Mận cũng rất giàu vitamin C và các carotenoid cung cấp vitamin A, cả hai đều có đặc tính chống oxy hóa và chống viêm.
                </p>
                <h3>2.2. Dâu tây</h3>
                <p>
                    Dâu tây đặc biệt chứa nhiều chất chống oxy hóa như vitamin C, anthocyanins, axit phenolic và flavonoid. Trong một nghiên cứu kéo dài 3 tuần, 21 phụ nữ ăn 9 ounce (khoảng 250 gram) dâu tây đông lạnh mỗi ngày đã tăng đáng kể hoạt động chống oxy hóa trong máu của họ. Hơn nữa, loại trái cây này có thể giảm nguy cơ mắc một số bệnh mạn tính. Nghiên cứu cho thấy rằng, ăn dâu tây có thể giúp giảm các yếu tố nguy cơ bệnh tim, giảm các dấu hiệu viêm và tăng lượng chất xơ, tất cả đều có thể bảo vệ chống lại các tình trạng sức khỏe mạn tính như bệnh tim và một số bệnh ung thư.
                </p>
                <h3>2.3. Nho</h3>
                <p>
                    Mặc dù có kích thước nhỏ nhưng nho chứa rất nhiều chất dinh dưỡng. Có nhiều loại nho khác nhau và điểm chung của chúng đều là những sự lựa chọn lành mạnh, một số loại có hàm lượng chất chống oxy hóa cao hơn những loại khác.
                </p>
                <p>
                    Trong một nghiên cứu gần đây khi so sánh 30 giống nho, nho Black Pearl, Summer Royal Black, Pearl Green, Green không hạt và nho đỏ không hạt cho thấy chúng có hoạt tính chống oxy hóa và loại bỏ gốc tự do mạnh nhất. Những giống này được tìm thấy chứa nhiều chất chống oxy hóa như axit caffeic, epicatechin, catechin gallate, axit protocatechuic, axit gallic và rutin. Thật vậy, những chất chống oxy hóa này có thể là lý do tại sao nho có liên quan đến việc giảm nguy cơ mắc bệnh tim và một số bệnh ung thư.
                </p>
                <center><img class="img-fluid p-5" src="http://127.0.0.1:8000/static/images/other(17).jpg" alt=""></center>
                <h3>2.4. Táo</h3>
                <p>
                    Táo có liên quan đến nhiều lợi ích sức khỏe, bao gồm giảm nguy cơ mắc bệnh tim và một số bệnh ung thư, gồm cả ung thư đại trực tràng. Đáng chú ý, táo là nguồn tập trung các chất chống oxy hóa flavonoid.
                </p>
                <p>
                    Một nghiên cứu trên 56.000 người đã liên kết việc ăn nhiều táo và các thực phẩm giàu flavonoid khác với việc giảm nguy cơ tử vong do mọi nguyên nhân, bao gồm cả ung thư và bệnh tim.
                </p>
                <h3>2.5. Quả bơ</h3>
                <p>
                    Trái bơ không chỉ có vị ngậy và thơm ngon mà còn chứa nhiều chất dinh dưỡng như chất xơ, chất béo lành mạnh, kali, magie, folate, và vitamin C và K1. Trên thực tế, các nghiên cứu cho thấy những loại trái cây béo này có thể giúp giảm cân, lượng đường trong máu và các yếu tố nguy cơ bệnh tim như cholesterol LDL (cholesterol xấu).
                </p>
                <h3>2.5. Quả việt quất</h3>
                <p>
                    Những lợi ích ấn tượng của quả việt quất đã được khoa học ghi nhận. Loại quả mọng này chứa một số chất chống oxy hóa mạnh và đặc biệt giàu anthocyanins, là sắc tố thực vật chiếm tới 60% tổng số hợp chất polyphenol của chúng. Ăn quả việt quất tươi mỗi ngày, ngay cả với lượng vừa phải 1/3 cốc (113 gram), cũng có thể làm giảm nguy cơ mắc bệnh tim và tiểu đường loại 2 và tốc độ suy giảm tinh thần ở người lớn tuổi chậm hơn.
                </p>
                <h3>2.6. Quả lựu</h3>
                <p>
                    Nhiều nghiên cứu cho thấy, quả lựu có nhiều lợi ích với sức khỏe. Loại trái cây này tự hào có các hợp chất như ellagitannin, anthocyanins và axit hữu cơ, mang lại cho lựu khả năng chống oxy hóa mạnh mẽ.
                </p>
                <p>
                    Nghiên cứu trên người cho thấy nước ép và chiết xuất từ ​​quả lựu có thể giúp giảm stress oxy hóa, huyết áp, cholesterol LDL (xấu), chất béo trung tính, viêm và tổn thương cơ. Các nghiên cứu trên động vật và ống nghiệm cũng cho thấy các đặc tính chống ung thư hiệu quả.
                </p>
                <h3>2.7. Xoài</h3>
                <p>
                    Xoài là một loại trái cây nhiệt đới phổ biến chứa nhiều chất chống oxy hóa, bao gồm axit gallic, quercetin và axit ellagic, cũng như các carotenoid lutein, alpha carotene và beta-carotene, làm cho trái cây có màu hơi vàng. Xoài cũng giàu chất xơ và có thể giúp thúc đẩy nhu động ruột khỏe mạnh.
                </p>
                <p>
                    Trong một nghiên cứu kéo dài 4 tuần ở 36 người bị táo bón mãn tính, ăn 300 gram xoài mỗi ngày giúp cải thiện đáng kể tần suất và độ đặc của phân cũng như giảm các dấu hiệu viêm ruột.
                </p>
                <center><img class="img-fluid p-5" src="http://127.0.0.1:8000/static/images/other(18).jpg" alt=""></center>
                <h3>2.8. Quả đu đủ</h3>
                <p>
                    Mang hương vị nhiệt đới, đu đủ rất giàu vitamin C, provitamin A, folate và kali. Chúng cũng chứa nhiều chất chống oxy hóa nhưng đặc biệt giàu lycopene. Ăn trái cây giàu lycopene như đu đủ có thể bảo vệ chống lại bệnh tim và một số bệnh ung thư. Điều thú vị là mức lycopene thấp hơn có liên quan đến việc tăng nguy cơ tử vong do mọi nguyên nhân.
                </p>
                <h3>2.9. Dưa hấu</h3>
                <p>
                    Dưa hấu là một loại trái cây chứa nhiều chất xơ, vitamin C, vitamin A và nhiều chất chống oxy hóa. Các nghiên cứu trên động vật chứng minh rằng, nó có đặc tính chống viêm, bảo vệ não và hỗ trợ sức khỏe của gan. Hơn nữa, dưa hấu là nguồn thực phẩm giàu axit amin l-citrulline nhất. L-citrulline cần thiết cho quá trình tổng hợp oxit nitric, một phân tử cần thiết cho sự giãn nở của mạch máu và các chức năng khác của cơ thể. Đây có thể là lý do tại sao các nghiên cứu trên người đã cho kết quả ăn nhiều dưa hấu có thể giúp giảm nguy cơ mắc tăng huyết áp.
                </p>
            </div>
        </div>

    </div>
</section>
{% endblock %}