{% extends "users/layouts/main.html" %}
{% load static %}
{% block title %}Giảm cân hiệu quả{% endblock %}
{% block menu %}active{% endblock %}
{% block content %}


<section class="p-3 p-lg-0 pt-lg-3 text-center text-sm-start">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <div class="block-heading">
                        <h1 class="text-center text-danger"><strong>THỰC PHẨM GIẢM CÂN HIỆU QUẢ CHO CƠ THỂ</strong></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <p>Nhiều người quan niệm rằng ăn những loại thực phẩm lành mạnh rất tốn kém và chúng ta phải chi nhiều tiền hơn cho một thực đơn “healthy”. Tuy nhiên, điều này không hoàn toàn đúng. Chúng ta không cần thiết phải bỏ ra quá nhiều tiền để theo đuổi một chế độ ăn lành mạnh. Hãy tham khảo những loại thực phẩm rẻ và tốt cho sức khỏe ngay sau đây.</p>
            <h2>1. Những loại rau tốt cho sức khỏe</h2>
            <div class="mx-3">
                <h3>1.1. Bông cải xanh</h3>
                <p>Bông cải xanh là một loại rau rẻ, phổ biến và có thể cung cấp hầu hết mọi chất dinh dưỡng mà bạn cần.</p>
                <p>
                    Nó đặc biệt giàu vitamin C, hoạt động như một chất chống oxy hóa và có thể tăng cường hệ thống miễn dịch của bạn. Chỉ một cốc bông cải xanh đã cung cấp 135% nhu cầu hàng ngày của mỗi người. Ngoài ra, bông cải xanh rất giàu vitamin K và folate, cả hai đều đóng vai trò trong quá trình đông máu và ngăn ngừa một số dị tật bẩm sinh ống thần kinh. Các nghiên cứu cho thấy rằng, các chất dinh dưỡng và chất chống oxy hóa trong bông cải xanh có thể giúp ngăn ngừa các bệnh mạn tính như ung thư và bệnh tim.
                    <center><img class="img-fluid p-5" src="http://127.0.0.1:8000/static/images/other(13).jpg" alt=""></center>
                </p>
                <h3>1.2. Hành tây</h3>
                <p>Hành tây là một loại rau phổ biến với nhiều lợi ích cho sức khỏe và chúng có giá khá rẻ. Chúng nổi tiếng vì giàu chất chống oxy hóa nhất định có thể bảo vệ chống lại bệnh tim, tiểu đường và một số loại ung thư. Ngoài ra, hành tây cung cấp một lượng nhỏ một số chất dinh dưỡng, bao gồm vitamin C, mangan, vitamin B6 và kali. Hương vị của hành tây khiến chúng trở thành một bổ sung tuyệt vời cho bất kỳ món ăn nào.
                </p>
                <h3>1.3. Rau bina</h3>
                <p>Rau bina hay còn gọi là rau chân vịt khá tốt cho sức khỏe và hầu như luôn có giá cả hợp lý.</p>
                <p>
                    Rau bina rất giàu vitamin K, đóng vai trò quan trọng đối với sức khỏe của xương và giảm nguy cơ mắc bệnh tim và ung thư. Ngoài ra, rau bina cung cấp vitamin A, vitamin C, folate và mangan giúp tăng cường miễn dịch. Giống như các loại rau lá xanh khác, rau bina cũng chứa các hợp chất thực vật có lợi. Chúng có khả năng giảm viêm và ngăn ngừa tổn thương tế bào, giúp ngăn ngừa các bệnh mạn tính.
                </p>
                <p>
                    Kết hợp rau bina vào chế độ ăn uống của bạn rất đơn giản. Bạn có thể thêm nó vào món salad, thịt hầm và súp. Nó cũng có thể được pha trộn vào sinh tố để tăng chất dinh dưỡng.
                </p>
                <h3>1.4. Khoai lang</h3>
                <p>Khoai lang cực kỳ tốt cho sức khỏe và là một trong những loại rau rẻ nhất bạn có thể mua. Chúng cung cấp một lượng vitamin và khoáng chất ấn tượng có nhiều lợi ích cho sức khỏe. Chúng đặc biệt chứa nhiều beta-carotene, được chuyển hóa thành vitamin A trong cơ thể. Chỉ một củ khoai lang cung cấp 369% nhu cầu vitamin A hàng ngày của bạn, đóng vai trò quan trọng đối với sức khỏe của mắt. Khoai lang cũng chứa một lượng vitamin B, vitamin C, kali và chất xơ. Các nghiên cứu cho thấy chúng có thể có tác dụng chống viêm, giúp giảm nguy cơ mắc các bệnh mãn tính như ung thư và tiểu đường.
                </p>
                <center><img class="img-fluid p-5" src="http://127.0.0.1:8000/static/images/other(14).jpg" alt=""></center>
                <h3>1.5. Cà chua</h3>
                <p>Cà chua là loại thực đóng hộp được tiêu thụ thường xuyên nhất trong chế độ ăn uống của người Mỹ.</p>
                <p>
                    Điều thực sự làm cho cà chua được chú ý tới là hàm lượng vitamin C của chúng. Cà chua cũng cung cấp một lượng vitamin B, vitamin A, E và K cùng nhiều khoáng chất vi lượng. Các nghiên cứu đã chỉ ra rằng, ăn cà chua có thể giúp giảm mức cholesterol LDL “có hại” và mức huyết áp, hai yếu tố nguy cơ chính gây bệnh tim. Hơn nữa, chúng có thể bảo vệ chống lại một số loại ung thư.
                </p>
                <p>
                    Nhiều lợi ích sức khỏe của chúng là do hàm lượng lycopen cao mang lại. Lycopene là một chất chống oxy hóa có thể làm giảm viêm, bảo vệ tế bào khỏi bị tổn thương và giảm nguy cơ mắc bệnh.
                </p>
                <h3>1.6. Cà rốt</h3>
                <p>Nếu ngân sách của bạn eo hẹp, cà rốt là một loại rau rẻ và giàu chất dinh dưỡng để đưa vào chế độ ăn uống. Cà rốt là một trong những loại rau củ chứa nhiều beta-carotene, lý giải cho hàm lượng vitamin A ấn tượng của chúng. Chỉ một cốc cà rốt đã cung cấp 428% nhu cầu hàng ngày của bạn về vitamin A, giúp thúc đẩy thị lực tốt và tăng cường sức khỏe hệ miễn dịch.</p>
                <p>
                    Hơn nữa, cà rốt chứa một lượng đáng kể chất xơ, vitamin C, vitamin K, kali và mangan. Do hàm lượng chất chống oxy hóa cao, ăn cà rốt thường xuyên có thể giúp giảm nguy cơ mắc một số loại ung thư, bao gồm cả ung thư tuyến tiền liệt và ung thư dạ dày.
                </p>
                <p>
                    Cà rốt cũng rất dễ chế biến. Chúng ta có thể nấu chín hoặc ăn sống đều được. Ngoài ra, chúng là một bổ sung tuyệt vời cho món salad và các món ăn nấu chín.
                </p>
                <h3>1.7. Bắp cải xanh</h3>
                <p>Một lượng lớn vitamin C và K có thể được tìm thấy trong bắp cải xanh, ngoài ra, còn có số vitamin B và khoáng chất vi lượng. Bắp cải và các loại rau họ cải khác rất nổi bật vì hàm lượng glucosinolate của chúng. Glucosinolate là chất chống oxy hóa đã được nghiên cứu về khả năng bảo vệ chống lại một số loại ung thư.</p>
                <p>
                    Một số nghiên cứu cũng phát hiện ra rằng, ăn bắp cải có thể làm giảm đáng kể nguy cơ mắc bệnh tim. Là một loại rau linh hoạt trong cách chế biến, bắp cải rất dễ dàng để thêm vào chế độ ăn uống của mỗi người. Nó thường được dùng trong món salad và xà lách trộn, hoặc có thể được lên men và làm thành dưa cải bắp.
                </p>
            </div>
            <h2>2. Những loại ngũ cốc và đậu tốt cho sức khỏe giá cực rẻ</h2>
            <div class="mx-3">
                <h3>2.1. Gạo lứt</h3>
                <p>Gạo lứt là một loại thực phẩm tuyệt vời, rẻ tiền, cung cấp chất xơ, vitamin và khoáng chất. Gạo lứt chứa chủ yếu là carbs, với 4 gam chất xơ mỗi cốc (195 gam), một lượng lớn vitamin B, magie, phốt pho và mangan. Những lợi ích sức khỏe của gạo lứt bao gồm giảm nguy cơ mắc bệnh tiểu đường loại 2 và bệnh tim, cũng như thúc đẩy kiểm soát cân nặng.</p>
                <center><img class="img-fluid p-5" src="http://127.0.0.1:8000/static/images/other(15).jpg" alt=""></center>
                <h3>2.2. Bột yến mạch</h3>
                <p>Bột yến mạch là một loại ngũ cốc nguyên hạt giàu chất dinh dưỡng khác thường có giá cả phải chăng. Nó chứa một lượng chất dinh dưỡng ấn tượng, bao gồm vitamin B, sắt, mangan, phốt pho, kẽm và magiê. Ngoài ra, nó rất giàu chất xơ với 4 gam mỗi cốc (234 gam). Chất xơ thúc đẩy cảm giác no và có thể giúp giảm lượng cholesterol và lượng đường trong máu.</p>
                <p>
                    Sự kết hợp của chất xơ, vitamin và khoáng chất trong bột yến mạch có thể có khả năng làm giảm nguy cơ mắc một số bệnh, bao gồm bệnh tiểu đường loại 2, bệnh tim và béo phì. Yến mạch thường được thưởng thức như một món ăn sáng. Bạn có thể kết hợp chúng với trái cây, sữa, sữa chua và một số nguyên liệu khác để có một bữa ăn lành mạnh và ngon miệng.
                </p>
                <h3>2.3. Đậu</h3>
                <p>
                    Đậu là một thực phẩm thân thiện với túi tiền, ngoài ra rất bổ dưỡng. Đậu chứa một lượng đáng kể chất xơ và nhiều loại vitamin và khoáng chất, bao gồm folate, sắt, magie và kali.
                </p>
                <p>Hơn nữa, chúng là một nguồn protein thực vật tuyệt vời. Có 15 gam protein trong một cốc (172 gam) đậu đen, có lợi cho việc duy trì cân nặng và sức mạnh cơ bắp. Tiêu thụ đậu cũng có liên quan đến việc giảm nguy cơ mắc bệnh tim và tiểu đường. Điều này có thể là do chúng có khả năng giảm cholesterol và thúc đẩy kiểm soát lượng đường trong máu.</p>
                <p>
                    Đậu có thể được kết hợp vào bất kỳ món ăn nào. Chúng thường được thêm vào súp, salad và bánh mì kẹp thịt.
                </p>
                <h3>2.4. Đậu nành</h3>
                <p>
                    Đậu nành là một loại thực phẩm lành mạnh với giá thành khá rẻ. Đây là một loại thực phẩm giàu chất xơ tuyệt vời và cung cấp một số chất dinh dưỡng, bao gồm vitamin K, folate và hầu hết mọi khoáng chất vi lượng mà cơ thể bạn cần. Hơn nữa, đây cũng là một nguồn protein thực vật phong phú, cung cấp 17 gam trong một khẩu phần một cốc (155 gam).
                </p>
                <p>Các nghiên cứu cho thấy, đậu nành nói riêng và các loại thực phẩm họ đậu khác nói chung có thể giúp giảm nguy cơ mắc bệnh tim, loãng xương và một số loại ung thư. Điều này thường được cho là do hàm lượng isoflavone của chúng, có chức năng như chất chống oxy hóa trong cơ thể.</p>
            </div>
            <h2>3. Những loại cá, thịt và trứng</h2>
            <div class="mx-3">
                <h3>4.1. Cá đóng hộp</h3>
                <p>
                    Cá đóng hộp có nhiều lợi ích cho sức khỏe và rẻ hơn đáng kể so với hải sản tươi sống. Cá không chỉ là nguồn cung cấp protein tuyệt vời mà còn chứa nhiều axit béo omega-3, rất quan trọng đối với sức khỏe não bộ và giảm viêm.
                </p>
                <p>
                    Ngoài ra, cá cung cấp một lượng lớn khoáng chất vi lượng selen, có thể tăng cường sức khỏe hệ thống miễn dịch và bảo vệ chống lại bệnh ung thư. Hơn nữa, nếu bạn mua cá đóng hộp có cả xương, bạn sẽ nhận được một lượng vitamin D, canxi và phốt pho lành mạnh.
                </p>
                <h3>4.2. Thịt lợn</h3>
                <p>
                    Thịt lợn khá rẻ so với các loại thịt khác. Thịt lợn là nguồn cung cấp protein cũng như các loại vitamin B, phốt pho, kẽm, sắt và selen. Sự kết hợp của protein, vitamin và khoáng chất trong thịt lợn có thể thúc đẩy sự phát triển và duy trì cơ bắp và cải thiện hiệu suất tập thể dục.
                </p>
                <h3>4.3. Trứng</h3>
                <p>
                    Trứng là một trong những thực phẩm bổ dưỡng nhất trên hành tinh và chúng có giá cả rất phải chăng. Một quả trứng cỡ vừa cũng chứa 6 gam protein và chất chống oxy hóa có đặc tính chống viêm và có thể bảo vệ sức khỏe của mắt.
                </p>
                <p>
                    Hơn nữa, trứng cung cấp hầu hết mọi loại vitamin và khoáng chất mà bạn cần. Chúng cũng là một trong số ít nguồn thực phẩm cung cấp choline, một chất dinh dưỡng đóng một vai trò trong chức năng não.
                </p>
                <h3>4.4. Ức gà</h3>
                <p>
                    Trong một nửa miếng ức gà, có chứa 27 gam protein chất lượng cao, có nghĩa là nó chứa tất cả các axit amin thiết yếu mà cơ thể bạn cần. Ức gà cũng chứa nhiều vitamin và khoáng chất quan trọng, chẳng hạn như niacin, vitamin B6, phốt pho, magiê và selen.
                </p>
                <p>
                    Đưa ức gà vào trong một chế độ ăn uống lành mạnh, cân bằng đã được chứng minh là giúp giảm nguy cơ béo phì, bệnh tim và tiểu đường. Nó cũng có thể bảo vệ bạn khỏi nguy cơ ung thư.
                </p>
            </div>
            <h2>4. 3 loại thực phẩm nguồn gốc từ sữa tốt cho sức khỏe giá cực rẻ</h2>
            <div class="mx-3">
                <h3>5.1. Phô mai Cottage</h3>
                <p>
                    Phô mai Cottage là một nguồn protein tuyệt vời, cung cấp 14 gam một nửa cốc (113 gam), chiếm khoảng 28% nhu cầu hàng ngày của bạn và có thể giúp kiểm soát sự thèm ăn và duy trì cân nặng. Ngoài ra, nó còn chứa nhiều chất dinh dưỡng khác, bao gồm canxi và phốt pho, được biết đến với vai trò quan trọng đối với sức khỏe của xương.
                </p>
                <h3>5.2. Sữa chua</h3>
                <p>
                    Sữa chua bổ dưỡng, thân thiện với túi tiền và được tìm thấy ở hầu hết các cửa hàng. Chỉ một cốc (245 gram) sữa chua, có chứa 13 gram protein và rất nhiều vitamin B, ngoài ra, nó còn chứa 45% nhu cầu hàng ngày của bạn về canxi, 35% đối với phốt pho và 15% về kẽm.
                </p>
                <p>
                    Hơn nữa, một số loại sữa chua là nguồn cung cấp men vi sinh tốt, là vi khuẩn lành mạnh có thể có lợi cho sức khỏe hệ tiêu hóa. Sữa chua có hương vị tuyệt vời khi kết hợp với trái cây hoặc các loại hạt, hoặc nó có thể được thêm vào sinh tố. Nó cũng có thể được làm thành nước sốt và kết hợp với các món ăn nấu chín.
                </p>
                <center><img class="img-fluid p-5" src="http://127.0.0.1:8000/static/images/other(16).jpg" alt=""></center>
                <h3>5.3. Sữa</h3>
                <p>
                    Sữa rất tốt cho sức khỏe và giá cả phải chăng. Một cốc (236 ml) sữa nguyên chất cung cấp một lượng đáng kể protein, canxi, vitamin B và phốt pho. Tiêu thụ sữa và các sản phẩm từ sữa khác thường xuyên có thể giúp ngăn ngừa một số bệnh mạn tính, bao gồm loãng xương, bệnh tim, tiểu đường, mất trí nhớ và một số bệnh ung thư.
                </p>
                <p>
                    Một chế độ ăn uống lành mạnh không nhất thiết phải tốn kém. Có rất nhiều loại thực phẩm giàu chất dinh dưỡng, giá cả phải chăng mà bạn có thể mua mà không cần quá đắn đo về giá cả của chúng. Trên thực tế, một số loại thực phẩm lành mạnh rẻ hơn so với đồ ăn vặt đã qua chế biến. Những loại thực phẩm mà chúng tôi đã liệt kê trên đây đều dựa trên tiêu chí có giá thành phải chăng, tốt cho sức khỏe và dễ dàng bổ sung vào chế độ ăn uống.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}