{% extends "users/layouts/main.html" %}
{% load static %}
{% block title %}Thực phẩm hạn chế{% endblock %}
{% block menu %}active{% endblock %}
{% block content %}


<section class="p-3 p-lg-0 pt-lg-3 text-center text-sm-start">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <div class="block-heading">
                        <h1 class="text-center text-danger"><strong>THỰC PHẨM HẠN CHẾ HẤP THU</strong></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <p><strong>Thực phẩm là nguồn dinh dưỡng thiết yếu cho sức khỏe. Tuy nhiên, không phải thực phẩm nào cũng tốt và tiêu thụ bao nhiêu cũng được. Dưới đây là một số thực phẩm bạn không nên ăn uống quá nhiều.</strong></p>
            <p><strong>Cà rốt</strong></p>
            <p>Lượng beta carotene trong cà rốt được chứng minh có khả năng phòng ngừa các căn bệnh ung thư, đặc biệt khi vào cơ thể nó chuyển hóa thành vitamin A, B, E và các khoáng chất như can xi, ma giê, mangan, sắt, đồng&#8230; là những chất mà cơ thể không thể thiếu. Tuy nhiên nếu tiêu thụ quá nhiều cà rốt, cơ thể hấp thụ quá nhiều beta carotene, làn da có nguy cơ chuyển sang màu vàng. Hiện tượng này thường xảy ra phổ biến ở trẻ sơ sinh, trẻ nhỏ, và kể cả những người nghiện cà rốt.</p>
            <p>Nghiên cứu cho thấy phụ nữ ăn quá nhiều cà rốt, dung nạp vào cơ thể một lượng lớn carotenoid có thể gây vô kinh và ức chế sự rụng trứng, giảm chức năng buồng trứng bình thường. Vì vậy, phụ nữ muốn mang thai không nên ăn cà rốt</p>
            <p><strong>Tỏi</strong></p>
            <p>Mặc dù tỏi có khá nhiều công dụng với sức khỏe nhưng cũng phải chú ý vì tỏi tươi có khả năng giết tinh trùng. Những người trong độ tuổi sinh đẻ nếu ăn quá nhiều sẽ có tác động tiêu cực đến khả năng sinh sản.</p>
            <div><strong>  </p>
            <div align="center">
            <table cellspacing="5" cellpadding="0" align="center">
            <tbody>
            <tr>
            <td align="middle">
            <div>
            <div><img class="img-fluid" title="Những loại thực phẩm không nên ăn uống nhiều 1" alt="Những loại thực phẩm không nên ăn uống nhiều 1" src="http://127.0.0.1:8000/static/images/toi.jpg" width="400"></div>
            </div>
            <div><em>&nbsp;Ảnh minh họa</em></div>
            </td>
            </tr>
            </tbody>
            </table>
            </div>
            <p>Mì chính</strong></div>
            <div>&nbsp;</div>
            <div>Đây là gia vị cần thiết để tạo độ ngon cho món ăn, chính vì vậy rất nhiều người nhất là các chủ bán hàng ăn. Nhưng nếu bạn ăn nhiều quá sẽ khiến độ ngọt trong máu tăng lên dẫn đến việc hấp thu các khoáng chất cho cơ thể bị yếu đi, ngoài ra nó còn ảnh hưởng đến khả năng sinh sản của cả nam và nữ. Đặc biệt trong bột ngọt còn có chất khiến hệ xương của bạn yếu đi nếu sử dụng nhiều trong thời gian dài.</div>
            <div>&nbsp;</div>
            <div><strong>Rau má</strong></div>
            <div>&nbsp;</div>
            <div>Đây là loại rau thường được sử dụng rộng rãi làm nước ép, ăn sống hay nấu canh đều rất ngon miệng và có tác dụng thanh nhiệt, giảm hẳn các vết thâm trên cơ thể nhưng không phải vì thế mà các bạn lại muốn ăn bao nhiều tùy thích, hãy ăn với một lượng vừa đủ bởi nếu bạn ăn quá nhiều rau má sẽ dẫn đến bị loãng máu, rất nguy hiểm.</div>
            <div>&nbsp;</div>
            <div><strong>Mướp đắng</strong></div>
            <p>Mướp đắng có vị hơi đắng nhưng có thể chế biến thành nhiều món ăn rất ngon, mát nên được chị em nội trợ rất tin dùng hàng ngày, tuy nhiên khổ qua là thực phẩm có tác dụng giảm huyết áp chính vì thế bạn không nên ăn quá nhiều sẽ dẫn đến huyết áp thấp gây đâu đầu, chóng mặt đặc biệt đối với những bệnh nhân có huyết áp thấp thì nên hạn chế sử dụng sẽ tốt hơn</p>
            <p><strong>Hạt hướng dương</strong></p>
            <p>Hạt hướng dương với một số thành phần protein ức chế tinh hoàn, có thể gây teo tinh hoàn, ảnh hưởng đến chức năng sinh sản bình thường, đó là lý do những người trẻ trong độ tuổi sinh đẻ không nên ăn loại hạt này.</p>
            <p><strong>Cà phê</strong></p>
            <p>Bên cạnh những lợi ích mang lại như: giúp giảm cân, ngừa ung thư, lợi tiểu, giảm nguy cơ mắc bệnh sỏi mật, ngừa xơ gan, tăng cường hoạt động não bộ&#8230;, thì cà phê cũng là tác nhân làm rối loạn nhịp tim, tắc mạch máu, gây buồn nôn, tạo cảm giác lo lắng, bồn chồn, run rẩy, khó ngủ&#8230; nếu dùng nhiều.</p>
            <p>Nghiên cứu của các nhà khoa học chỉ ra rằng, cà phê có tác động trực tiếp đến khả năng sinh sản của phụ nữ. Trong những phụ nữ này, ở những người uống hơn 1 tách cà phê mỗi ngày thì khả năng mang thai giảm đi một nửa so với những người phụ nữ không uống nước giải khát này. Vì vậy, họ cho rằng nếu phụ nữ dự định có thai thì bạn nên uống cà phê ít hơn.</p>
            <p><strong>Nước</strong></p>
            <p>Ai cũng biết nước đóng vai trò quan trọng như thế nào đối với cơ thể. Tuy nhiên, nếu uống nước không đúng cách hoặc lạm dụng, có thể dẫn đến nguy cơ mất cân bằng điện giải. Khi uống quá nhiều nước, cân bằng điện phân bị xáo trộn dẫn đến mất cân bằng nước, kết quả cơ thể liên tục bài tiết nước, từ đó gây mệt mỏi cũng như dễ dẫn đến nguy cơ mắc các bệnh về tim và thận.</p>
            <p><strong>Rượu</strong></p>
            <p>Nghiên cứu cho thấy rượu là thành phần chính của ethanol, ethanol có thể làm tăng mức độ catecholamine của cơ thể, co thắt mạch máu và teo tinh hoàn. Chức năng sinh tinh thay đổi, việc tiết ra testosterone và sự thiếu hụt nội tiết tố nam khác khiến thanh âm nam giới mỏng hơn và hiệu suất làm nở ngực nữ tính khác. Nam giới dễ bị vô sinh ngay cả khi đã từng sinh, thế hệ tiếp theo cũng dễ dị tật. Phụ nữ có thể dẫn đến vô kinh, kinh nguyệt không đều, tạo ra sự thay đổi trứng hoặc ngừng sự rụng</p>
            <p><strong>Thịt bò và thịt cừu nướng</strong></p>
            <div>Theo các chuyên gia dinh dưỡng,những phụ nữ ăn nhiều thịt cừu nướng có thể sinh ra một đứa trẻ chậm phát triển, tâm thần, liệt hoặc biến dạng. Sau khi có cuộc điều tra và nghiên cứu của y tế hiện đại đã phát hiện ra rằng những phụ nữ này và con cái của họ sinh ra bị biến dạng, có biểu hiện nhiễm trùng.</div>
            <div align="right"><em>Theo</em> <strong>Vnmedia</strong>
            </div>
        </div>
    </div>
</section>
{% endblock %}